n8n-workflows/archive/designs/workflow-02-to-create.json
{
  "name": "02 - Gestion de Turnos",
  "nodes": [
    {
      "name": "Webhook - Solicitud Turno",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "turno-solicitar",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "name": "Validar Datos",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [250, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.body.phone || $json.body.From }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty",
                "name": "filter.operator.isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "name": "Extraer Datos Entrada",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [500, 300],
      "parameters": {
        "assignments": {
          "assignments": [
            { "name": "phone", "value": "={{ $json.body.phone || $json.body.From.replace('whatsapp:', '') }}", "type": "string" },
            { "name": "message", "value": "={{ $json.body.message || $json.body.Body }}", "type": "string" },
            { "name": "profileName", "value": "={{ $json.body.profileName || $json.body.ProfileName || 'Paciente' }}", "type": "string" },
            { "name": "pacienteId", "value": "={{ $json.body.pacienteId || '' }}", "type": "string" },
            { "name": "toNumber", "value": "={{ $json.body.toNumber || $json.body.To }}", "type": "string" },
            { "name": "fromNumber", "value": "={{ $json.body.fromNumber || $json.body.From }}", "type": "string" }
          ]
        },
        "options": {}
      }
    },
    {
      "name": "Ollama - Extraer Info Turno",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, 300],
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral\",\n  \"stream\": false,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Extra\u00e9 la informaci\u00f3n del pedido de turno del paciente. Respond\u00e9 SOLO con JSON v\u00e1lido, sin explicaci\u00f3n:\n\n{\n  \"motivo\": \"motivo de la consulta\",\n  \"fecha_preferida\": \"fecha que menciona o null\",\n  \"horario_preferido\": \"horario o null\",\n  \"medico_preferido\": \"m\u00e9dico o null\",\n  \"tipo_consulta\": \"presencial o virtual o domicilio\"\n}\n\nSi no hay suficiente informaci\u00f3n, pon\u00e9 null en los campos que faltan.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Mensaje del paciente: {{ $('Extraer Datos Entrada').first().json.message }}\"\n    }\n  ]\n}",
        "options": {}
      }
    },
    {
      "name": "Extraer JSON Turno",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300],
      "parameters": {
        "jsCode": "const ollamaResponse = $input.first().json.message.content;\n\nlet turnoData;\ntry {\n  // Intentar parsear JSON directamente\nturnoData = JSON.parse(ollamaResponse);\n} catch (e) {\n  // Buscar JSON entre llaves\nconst match = ollamaResponse.match(/\\{[\\s\\S]*\\}/);\nif (match) {\n  try {\nturnoData = JSON.parse(match[0]);\n} catch (e2) {\nturnoData = { motivo: ollamaResponse, fecha_preferida: null, horario_preferido: null, medico_preferido: null, tipo_consulta: 'presencial' };\n}\n  } else {\nturnoData = { motivo: ollamaResponse, fecha_preferida: null, horario_preferido: null, medico_preferido: null, tipo_consulta: 'presencial' };\n}\n}\n\nreturn [{\n  json: {\n    motivo: turnoData.motivo || 'consulta',\n    fecha_preferida: turnoData.fecha_preferida || null,\n    horario_preferido: turnoData.horario_preferido || null,\n    medico_preferido: turnoData.medico_preferido || null,\n    tipo_consulta: turnoData.tipo_consulta || 'presencial',\n    phone: $('Extraer Datos Entrada').first().json.phone,\n    profileName: $('Extraer Datos Entrada').first().json.profileName,\n    pacienteId: $('Extraer Datos Entrada').first().json.pacienteId\n  }\n}];"
      }
    },
    {
      "name": "Verificar Disponibilidad",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1250, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT fecha_hora, duracion_minutos FROM turnos WHERE medico_id = $1 AND estado IN ('pendiente', 'confirmada') AND DATE(fecha_hora) = $2 ORDER BY fecha_hora;",
        "additionalFields": {
          "queryParams": "={{ [$json.medico_preferido || '00000000-0000-0000-0000-000000000001', $json.fecha_preferida || CURRENT_DATE] }}"
        },
        "options": {}
      }
    },
    {
      "name": "Tiene Fecha Elegida?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1500, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $('Extraer JSON Turno').first().json.fecha_preferida }}",
              "rightValue": "null",
              "operator": {
                "type": "string",
                "operation": "notEqual",
                "name": "filter.operator.notEqual"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "name": "Generar Franjas",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1750, 200],
      "parameters": {
        "jsCode": "const slotsOcupados = $input.all();\nconst occupiedTimes = slotsOcupados.map(s => {\n  const d = new Date(s.json.fecha_hora);\n  return d.getHours() * 60 + d.getMinutes();\n});\n\nconst slotsDisponibles = [];\n// Franjas de 9:00 a 17:00, turnos de 30 min\nfor (let h = 9; h < 17; h++) {\n  for (let m = 0; m < 60; m += 30) {\n    const minutos = h * 60 + m;\n    if (!occupiedTimes.includes(minutos)) {\n      slotsDisponibles.push(`${h.toString().padStart(2, '0')}:${m.toString().padStart(2, '0')}`);\n    }\n  }\n}\n\nreturn [{\n  json: {\n    slots: slotsDisponibles.slice(0, 6),\n    fecha: $('Extraer JSON Turno').first().json.fecha_preferida,\n    motivo: $('Extraer JSON Turno').first().json.motivo,\n    tipo_consulta: $('Extraer JSON Turno').first().json.tipo_consulta\n  }\n}];"
      }
    },
    {
      "name": "Ollama - Ofrecer Horarios",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 200],
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral\",\n  \"stream\": false,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Sos el asistente virtual del Consultorio M\u00e9dico. Te van a pasar horarios disponibles y ten\u00e9s que ofrecerlos al paciente de forma amable, pidiendo que elija uno. S\u00e9 breve y clara. Respond\u00e9 en espa\u00f1ol argentino.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Horarios disponibles para el {{ $('Generar Franjas').first().json.fecha }}: {{ $('Generar Franjas').first().json.slots.join(', ') }}. Ofrec\u00e9 estas opciones al paciente.\"\n    }\n  ]\n}",
        "options": {}
      }
    },
    {
      "name": "Extraer Respuesta Horarios",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2250, 200],
      "parameters": {
        "assignments": {
          "assignments": [
            { "name": "responseText", "value": "={{ $json.message.content }}", "type": "string" }
          ]
        },
        "options": {}
      }
    },
    {
      "name": "Crear Turno en DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1750, 500],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO turnos (paciente_id, medico_id, fecha_hora, duracion_minutos, motivo, estado, tipo_consulta, fuente, notas_paciente) VALUES ($1, $2, $3, 30, $4, 'pendiente', $5, 'whatsapp', $6) RETURNING id, fecha_hora;",
        "additionalFields": {
          "queryParams": "={{ [$('Extraer JSON Turno').first().json.pacienteId || $('Extraer Datos Entrada').first().json.phone, $('Extraer JSON Turno').first().json.medico_preferido || '00000000-0000-0000-0000-000000000001', $('Extraer JSON Turno').first().json.fecha_preferida + ' ' + ($('Extraer JSON Turno').first().json.horario_preferido || '10:00'), $('Extraer JSON Turno').first().json.motivo, $('Extraer JSON Turno').first().json.tipo_consulta || 'presencial', 'Solicitado por WhatsApp'] }}"
        },
        "options": {}
      }
    },
    {
      "name": "Twilio - Confirmacion Turno",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 2,
      "position": [2000, 500],
      "parameters": {
        "resource": "message",
        "operation": "create",
        "to": "={{ $('Extraer Datos Entrada').first().json.fromNumber || 'whatsapp:' + $('Extraer Datos Entrada').first().json.phone }}",
        "from": "={{ $('Extraer Datos Entrada').first().json.toNumber }}",
        "body": "=Confirmamos tu turno para {{ $('Extraer JSON Turno').first().json.fecha_preferida }} a las {{ $('Extraer JSON Turno').first().json.horario_preferido }}. Te enviamos un recordatorio 24hs antes. Si necesitas cancelar o modificar, responde a este mensaje.",
        "options": {}
      }
    },
    {
      "name": "Sin Fecha - Preguntar Disponibilidad",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1750, 420],
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral\",\n  \"stream\": false,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Sos el asistente virtual del Consultorio M\u00e9dico. El paciente quiere un turno pero no dijo fecha. Preguntale amablemente qu\u00e9 d\u00eda y horario le gustar\u00eda. S\u00e9 breve, respond\u00e9 en espa\u00f1ol argentino.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"El paciente {{ $('Extraer Datos Entrada').first().json.profileName }} dijo: {{ $('Extraer Datos Entrada').first().json.message }}. Preguntale qu\u00e9 fecha y horario prefiere.\"\n    }\n  ]\n}",
        "options": {}
      }
    },
    {
      "name": "Extraer Pregunta Fecha",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2000, 420],
      "parameters": {
        "assignments": {
          "assignments": [
            { "name": "responseText", "value": "={{ $json.message.content }}", "type": "string" }
          ]
        },
        "options": {}
      }
    },
    {
      "name": "Twilio - Enviar WhatsApp",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 2,
      "position": [2500, 300],
      "parameters": {
        "resource": "message",
        "operation": "create",
        "to": "={{ $('Extraer Datos Entrada').first().json.fromNumber || 'whatsapp:' + $('Extraer Datos Entrada').first().json.phone }}",
        "from": "={{ $('Extraer Datos Entrada').first().json.toNumber }}",
        "body": "={{ $json.responseText }}",
        "options": {}
      }
    },
    {
      "name": "Guardar Log",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2750, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_logs (workflow_id, workflow_name, execution_id, nivel, mensaje) VALUES ($1, 'Gestion Turnos', $2, 'info', $3);",
        "additionalFields": {
          "queryParams": "={{ ['workflow-02', $json.executionId || '', 'Turno procesado para ' + $('Extraer Datos Entrada').first().json.phone] }}"
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook - Solicitud Turno": {
      "main": [[{"node": "Validar Datos", "type": "main", "index": 0}]]
    },
    "Validar Datos": {
      "main": [
        [{"node": "Extraer Datos Entrada", "type": "main", "index": 0}],
        [{"node": "Guardar Log", "type": "main", "index": 0}]
      ]
    },
    "Extraer Datos Entrada": {
      "main": [[{"node": "Ollama - Extraer Info Turno", "type": "main", "index": 0}]]
    },
    "Ollama - Extraer Info Turno": {
      "main": [[{"node": "Extraer JSON Turno", "type": "main", "index": 0}]]
    },
    "Extraer JSON Turno": {
      "main": [[{"node": "Verificar Disponibilidad", "type": "main", "index": 0}]]
    },
    "Verificar Disponibilidad": {
      "main": [[{"node": "Tiene Fecha Elegida?", "type": "main", "index": 0}]]
    },
    "Tiene Fecha Elegida?": {
      "main": [
        [{"node": "Generar Franjas", "type": "main", "index": 0}],
        [{"node": "Sin Fecha - Preguntar Disponibilidad", "type": "main", "index": 0}]
      ]
    },
    "Generar Franjas": {
      "main": [[{"node": "Ollama - Ofrecer Horarios", "type": "main", "index": 0}]]
    },
    "Ollama - Ofrecer Horarios": {
      "main": [[{"node": "Extraer Respuesta Horarios", "type": "main", "index": 0}]]
    },
    "Extraer Respuesta Horarios": {
      "main": [[{"node": "Twilio - Enviar WhatsApp", "type": "main", "index": 0}]]
    },
    "Sin Fecha - Preguntar Disponibilidad": {
      "main": [[{"node": "Extraer Pregunta Fecha", "type": "main", "index": 0}]]
    },
    "Extraer Pregunta Fecha": {
      "main": [[{"node": "Twilio - Enviar WhatsApp", "type": "main", "index": 0}]]
    },
    "Crear Turno en DB": {
      "main": [[{"node": "Twilio - Confirmacion Turno", "type": "main", "index": 0}]]
    },
    "Twilio - Confirmacion Turno": {
      "main": [[{"node": "Guardar Log", "type": "main", "index": 0}]]
    },
    "Twilio - Enviar WhatsApp": {
      "main": [[{"node": "Guardar Log", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
