n8n-workflows/archive/designs/workflow-05-to-create.json
{
  "name": "05 - Resumen Diario del Medico",
  "nodes": [
    {
      "name": "Cron - 7:00 AM",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 2,
      "position": [0, 300],
      "parameters": {
        "triggerTimes": {
          "item": [
            { "mode": "everyDay", "hour": 7, "minute": 0 }
          ]
        }
      }
    },
    {
      "name": "PG - Turnos de Hoy",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [250, 100],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT t.fecha_hora, t.estado, t.motivo, t.tipo_consulta, p.nombre || ' ' || p.apellido as paciente_nombre, p.telefono as paciente_telefono, p.obra_social, 'turnos' as fuente FROM turnos t JOIN pacientes p ON p.id = t.paciente_id WHERE DATE(t.fecha_hora AT TIME ZONE 'America/Argentina/Buenos_Aires') = CURRENT_DATE AND t.medico_id = $1 ORDER BY t.fecha_hora;",
        "additionalFields": {
          "queryParams": "={{ ['00000000-0000-0000-0000-000000000001'] }}"
        },
        "options": {}
      }
    },
    {
      "name": "PG - Pacientes Nuevos (24h)",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [250, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT nombre, apellido, telefono, obra_social, created_at, 'nuevos' as fuente FROM pacientes WHERE created_at >= NOW() - INTERVAL '24 hours' ORDER BY created_at DESC;",
        "options": {}
      }
    },
    {
      "name": "PG - Mensajes sin Responder",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [250, 500],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT c.id, p.nombre || ' ' || p.apellido as paciente, c.ultimo_mensaje, c.ultima_intencion, c.ultima_interaccion, 'mensajes' as fuente FROM conversaciones c JOIN pacientes p ON p.id = c.paciente_id WHERE c.estado = 'activa' AND c.ultima_interaccion < NOW() - INTERVAL '1 hour' ORDER BY c.ultima_interaccion DESC;",
        "options": {}
      }
    },
    {
      "name": "PG - Recetas x Autorizar",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [250, 700],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT r.medicamento, r.dosis, r.frecuencia, p.nombre || ' ' || p.apellido as paciente_nombre, r.created_at, 'recetas' as fuente FROM recetas r JOIN pacientes p ON p.id = r.paciente_id WHERE r.estado = 'activa' AND r.created_at >= NOW() - INTERVAL '48 hours' ORDER BY r.created_at DESC;",
        "options": {}
      }
    },
    {
      "name": "Merge 1 (Turnos+Nuevos)",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [500, 200],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "name": "Merge 2 (+Mensajes)",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [750, 250],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "name": "Merge 3 (+Recetas)",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [1000, 300],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "name": "Consolidar Datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300],
      "parameters": {
        "jsCode": "const allItems = $input.all();\n\nconst result = {\n  turnos: [],\n  nuevos: [],\n  pendientes: [],\n  recetas: []\n};\n\nfor (const item of allItems) {\n  const fuente = item.json.fuente;\n  if (fuente === 'turnos') result.turnos.push(item.json);\n  else if (fuente === 'nuevos') result.nuevos.push(item.json);\n  else if (fuente === 'mensajes') result.pendientes.push(item.json);\n  else if (fuente === 'recetas') result.recetas.push(item.json);\n}\n\nreturn [{\n  json: {\n    turnos: result.turnos,\n    nuevos: result.nuevos,\n    pendientes: result.pendientes,\n    recetas: result.recetas,\n    totalTurnos: result.turnos.length,\n    totalNuevos: result.nuevos.length,\n    totalPendientes: result.pendientes.length,\n    totalRecetas: result.recetas.length\n  }\n}];"
      }
    },
    {
      "name": "Ollama - Generar Resumen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1500, 300],
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral\",\n  \"stream\": false,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Sos un asistente medico que prepara el resumen diario para el doctor. Organiza la informacion de forma clara y profesional. Responde en espanol argentino.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Genera un resumen diario para el medico con esta informacion:\\n\\nTURNOS DE HOY ({{ $json.totalTurnos }}):\\n{{ JSON.stringify($json.turnos) }}\\n\\nPACIENTES NUEVOS ({{ $json.totalNuevos }}):\\n{{ JSON.stringify($json.nuevos) }}\\n\\nMENSAJES PENDIENTES ({{ $json.totalPendientes }}):\\n{{ JSON.stringify($json.pendientes) }}\\n\\nRECETAS RECIENTES ({{ $json.totalRecetas }}):\\n{{ JSON.stringify($json.recetas) }}\\n\\nFormatealo lindo para leer.\"\n    }\n  ]\n}",
        "options": {}
      }
    },
    {
      "name": "Extraer Resumen",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1750, 300],
      "parameters": {
        "assignments": {
          "assignments": [
            { "name": "resumenTexto", "value": "={{ $json.message.content }}", "type": "string" }
          ]
        },
        "options": {}
      }
    },
    {
      "name": "Email - Enviar Resumen",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [2000, 200],
      "parameters": {
        "fromEmail": "",
        "toEmail": "medico@consultorio.com",
        "subject": "=Resumen Diario - {{ new Date().toLocaleDateString('es-AR') }}",
        "text": "={{ $json.resumenTexto }}",
        "options": {}
      }
    },
    {
      "name": "Twilio - Resumen WhatsApp",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 2,
      "position": [2000, 400],
      "parameters": {
        "resource": "message",
        "operation": "create",
        "to": "whatsapp:+5491155550000",
        "from": "",
        "body": "=Resumen del dia - Turnos hoy: {{ $('Consolidar Datos').first().json.totalTurnos }}, Pacientes nuevos: {{ $('Consolidar Datos').first().json.totalNuevos }}, Pendientes: {{ $('Consolidar Datos').first().json.totalPendientes }}, Recetas: {{ $('Consolidar Datos').first().json.totalRecetas }}. Revisa tu email para el detalle completo.",
        "options": {}
      }
    },
    {
      "name": "Log a PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2250, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_logs (workflow_id, workflow_name, execution_id, nivel, mensaje) VALUES ($1, 'Resumen Diario', $2, 'info', $3);",
        "additionalFields": {
          "queryParams": "={{ ['workflow-05', $json.executionId || '', 'Resumen enviado - Turnos: ' + $('Consolidar Datos').first().json.totalTurnos + ', Nuevos: ' + $('Consolidar Datos').first().json.totalNuevos + ', Pendientes: ' + $('Consolidar Datos').first().json.totalPendientes] }}"
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Cron - 7:00 AM": {
      "main": [[
        { "node": "PG - Turnos de Hoy", "type": "main", "index": 0 },
        { "node": "PG - Pacientes Nuevos (24h)", "type": "main", "index": 0 },
        { "node": "PG - Mensajes sin Responder", "type": "main", "index": 0 },
        { "node": "PG - Recetas x Autorizar", "type": "main", "index": 0 }
      ]]
    },
    "PG - Turnos de Hoy": {
      "main": [[{ "node": "Merge 1 (Turnos+Nuevos)", "type": "main", "index": 0 }]]
    },
    "PG - Pacientes Nuevos (24h)": {
      "main": [[{ "node": "Merge 1 (Turnos+Nuevos)", "type": "main", "index": 1 }]]
    },
    "Merge 1 (Turnos+Nuevos)": {
      "main": [[{ "node": "Merge 2 (+Mensajes)", "type": "main", "index": 0 }]]
    },
    "PG - Mensajes sin Responder": {
      "main": [[{ "node": "Merge 2 (+Mensajes)", "type": "main", "index": 1 }]]
    },
    "Merge 2 (+Mensajes)": {
      "main": [[{ "node": "Merge 3 (+Recetas)", "type": "main", "index": 0 }]]
    },
    "PG - Recetas x Autorizar": {
      "main": [[{ "node": "Merge 3 (+Recetas)", "type": "main", "index": 1 }]]
    },
    "Merge 3 (+Recetas)": {
      "main": [[{ "node": "Consolidar Datos", "type": "main", "index": 0 }]]
    },
    "Consolidar Datos": {
      "main": [[{ "node": "Ollama - Generar Resumen", "type": "main", "index": 0 }]]
    },
    "Ollama - Generar Resumen": {
      "main": [[{ "node": "Extraer Resumen", "type": "main", "index": 0 }]]
    },
    "Extraer Resumen": {
      "main": [
        [{ "node": "Email - Enviar Resumen", "type": "main", "index": 0 }],
        [{ "node": "Twilio - Resumen WhatsApp", "type": "main", "index": 0 }]
      ]
    },
    "Email - Enviar Resumen": {
      "main": [[{ "node": "Log a PostgreSQL", "type": "main", "index": 0 }]]
    },
    "Twilio - Resumen WhatsApp": {
      "main": [[{ "node": "Log a PostgreSQL", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
