n8n-workflows/archive/designs/workflow-06-to-create.json
{
  "name": "06 - Recetas y Renovaciones",
  "nodes": [
    {
      "name": "Webhook - Solicitud Receta",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "receta-solicitar",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "name": "Extraer Datos Solicitud",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [250, 300],
      "parameters": {
        "assignments": {
          "assignments": [
            { "name": "phone", "value": "={{ $json.body.phone || $json.body.From.replace('whatsapp:', '') }}", "type": "string" },
            { "name": "message", "value": "={{ $json.body.message || $json.body.Body }}", "type": "string" },
            { "name": "profileName", "value": "={{ $json.body.profileName || $json.body.ProfileName || 'Paciente' }}", "type": "string" },
            { "name": "fromNumber", "value": "={{ $json.body.fromNumber || $json.body.From }}", "type": "string" },
            { "name": "toNumber", "value": "={{ $json.body.toNumber || $json.body.To }}", "type": "string" }
          ]
        },
        "options": {}
      }
    },
    {
      "name": "Ollama - Analizar Solicitud",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300],
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral\",\n  \"stream\": false,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Analiz\u00e1 la solicitud de receta del paciente. Respond\u00e9 SOLO con JSON v\u00e1lido, sin explicaci\u00f3n:\\n\\n{\\n  \\\"es_renovacion\\\": true o false,\\n  \\\"medicamento\\\": \\\"nombre del medicamento o null\\\",\\n  \\\"dosis\\\": \\\"dosis o null\\\",\\n  \\\"frecuencia\\\": \\\"frecuencia o null\\\",\\n  \\\"tipo\\\": \\\"renovacion\\\" o \\\"nueva\\\" o \\\"consulta\\\"\\n}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Mensaje del paciente: {{ $('Extraer Datos Solicitud').first().json.message }}\"\n    }\n  ]\n}",
        "options": {}
      }
    },
    {
      "name": "Extraer JSON Receta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 300],
      "parameters": {
        "jsCode": "const ollamaResponse = $input.first().json.message.content;\n\nlet recetaData;\ntry {\n  recetaData = JSON.parse(ollamaResponse);\n} catch (e) {\n  const match = ollamaResponse.match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    try {\n      recetaData = JSON.parse(match[0]);\n    } catch (e2) {\n      recetaData = { es_renovacion: false, medicamento: null, dosis: null, frecuencia: null, tipo: 'consulta' };\n    }\n  } else {\n    recetaData = { es_renovacion: false, medicamento: null, dosis: null, frecuencia: null, tipo: 'consulta' };\n  }\n}\n\nreturn [{\n  json: {\n    es_renovacion: recetaData.es_renovacion === true,\n    medicamento: recetaData.medicamento || null,\n    dosis: recetaData.dosis || null,\n    frecuencia: recetaData.frecuencia || null,\n    tipo: recetaData.tipo || 'consulta',\n    phone: $('Extraer Datos Solicitud').first().json.phone,\n    profileName: $('Extraer Datos Solicitud').first().json.profileName,\n    fromNumber: $('Extraer Datos Solicitud').first().json.fromNumber,\n    toNumber: $('Extraer Datos Solicitud').first().json.toNumber\n  }\n}];"
      }
    },
    {
      "name": "Es Renovacion?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1000, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.es_renovacion }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equal",
                "name": "filter.operator.equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "name": "PG - Buscar Receta Activa",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1250, 150],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT r.*, p.nombre, p.apellido FROM recetas r JOIN pacientes p ON p.id = r.paciente_id WHERE p.telefono = $1 AND r.estado = 'activa' AND r.medicamento ILIKE '%' || $2 || '%' ORDER BY r.created_at DESC LIMIT 1;",
        "additionalFields": {
          "queryParams": "={{ [$json.phone, $json.medicamento || ''] }}"
        },
        "options": {}
      }
    },
    {
      "name": "PG - Crear Receta Renovacion",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1500, 150],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO recetas (paciente_id, medico_id, medicamento, dosis, frecuencia, duracion, indicaciones, estado, receta_anterior_id) VALUES ((SELECT id FROM pacientes WHERE telefono = $1 LIMIT 1), '00000000-0000-0000-0000-000000000001', $2, $3, $4, '30 dias', 'Renovacion automatica. Misma indicacion que receta anterior.', 'pendiente', $5) RETURNING id;",
        "additionalFields": {
          "queryParams": "={{ [$('Extraer JSON Receta').first().json.phone, $('Extraer JSON Receta').first().json.medicamento, $('Extraer JSON Receta').first().json.dosis || '', $('Extraer JSON Receta').first().json.frecuencia || 'segun indicacion medica', $json.id || ''] }}"
        },
        "options": {}
      }
    },
    {
      "name": "Twilio - Confirmar Renovacion",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 2,
      "position": [1750, 150],
      "parameters": {
        "resource": "message",
        "operation": "create",
        "to": "={{ $('Extraer JSON Receta').first().json.fromNumber || 'whatsapp:' + $('Extraer JSON Receta').first().json.phone }}",
        "from": "={{ $('Extraer JSON Receta').first().json.toNumber }}",
        "body": "=Hola {{ $('Extraer JSON Receta').first().json.profileName }}! Renovamos tu receta de {{ $('Extraer JSON Receta').first().json.medicamento }}. El medico la va a revisar y te la enviamos por WhatsApp en cuanto este lista. Saludos!",
        "options": {}
      }
    },
    {
      "name": "Notificar al Medico x Receta Nueva",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 2,
      "position": [1250, 480],
      "parameters": {
        "resource": "message",
        "operation": "create",
        "to": "whatsapp:+5491155550000",
        "from": "={{ $('Extraer JSON Receta').first().json.toNumber }}",
        "body": "=Solicitud de receta NUEVA de {{ $('Extraer JSON Receta').first().json.profileName }}: {{ $('Extraer JSON Receta').first().json.medicamento || 'sin especificar' }}. Revisa el dashboard para autorizar.",
        "options": {}
      }
    },
    {
      "name": "Twilio - Respuesta Pendiente",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 2,
      "position": [1500, 480],
      "parameters": {
        "resource": "message",
        "operation": "create",
        "to": "={{ $('Extraer JSON Receta').first().json.fromNumber || 'whatsapp:' + $('Extraer JSON Receta').first().json.phone }}",
        "from": "={{ $('Extraer JSON Receta').first().json.toNumber }}",
        "body": "=Hola {{ $('Extraer JSON Receta').first().json.profileName }}! Recibimos tu solicitud de receta. El medico la va a revisar y te avisamos cuando este lista.",
        "options": {}
      }
    },
    {
      "name": "Log a PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2000, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_logs (workflow_id, workflow_name, execution_id, nivel, mensaje) VALUES ($1, 'Recetas', $2, 'info', $3);",
        "additionalFields": {
          "queryParams": "={{ ['workflow-06', $json.executionId || '', 'Receta procesada para ' + $('Extraer JSON Receta').first().json.phone + ': ' + ($('Extraer JSON Receta').first().json.es_renovacion ? 'renovacion' : 'nueva') + ' - ' + ($('Extraer JSON Receta').first().json.medicamento || 'sin especificar')] }}"
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Webhook - Solicitud Receta": {
      "main": [[{"node": "Extraer Datos Solicitud", "type": "main", "index": 0}]]
    },
    "Extraer Datos Solicitud": {
      "main": [[{"node": "Ollama - Analizar Solicitud", "type": "main", "index": 0}]]
    },
    "Ollama - Analizar Solicitud": {
      "main": [[{"node": "Extraer JSON Receta", "type": "main", "index": 0}]]
    },
    "Extraer JSON Receta": {
      "main": [[{"node": "Es Renovacion?", "type": "main", "index": 0}]]
    },
    "Es Renovacion?": {
      "main": [
        [{"node": "PG - Buscar Receta Activa", "type": "main", "index": 0}],
        [{"node": "Notificar al Medico x Receta Nueva", "type": "main", "index": 0}]
      ]
    },
    "PG - Buscar Receta Activa": {
      "main": [[{"node": "PG - Crear Receta Renovacion", "type": "main", "index": 0}]]
    },
    "PG - Crear Receta Renovacion": {
      "main": [[{"node": "Twilio - Confirmar Renovacion", "type": "main", "index": 0}]]
    },
    "Twilio - Confirmar Renovacion": {
      "main": [[{"node": "Log a PostgreSQL", "type": "main", "index": 0}]]
    },
    "Notificar al Medico x Receta Nueva": {
      "main": [[{"node": "Twilio - Respuesta Pendiente", "type": "main", "index": 0}]]
    },
    "Twilio - Respuesta Pendiente": {
      "main": [[{"node": "Log a PostgreSQL", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
