n8n-workflows/workflow-04-to-create.json
{
  "name": "04 - Correo Inteligente",
  "nodes": [
    {
      "name": "IMAP - Email Entrante",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [0, 300],
      "parameters": {
        "criteria": "UNSEEN",
        "options": {
          "format": "text",
          "downloadAttachments": false
        }
      }
    },
    {
      "name": "Extraer Datos Email",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [250, 300],
      "parameters": {
        "assignments": {
          "assignments": [
            { "name": "emailFrom", "value": "={{ $json.from }}", "type": "string" },
            { "name": "emailSubject", "value": "={{ $json.subject }}", "type": "string" },
            { "name": "emailBody", "value": "={{ $json.textPlain }}", "type": "string" },
            { "name": "emailId", "value": "={{ $json.id }}", "type": "string" }
          ]
        },
        "options": {}
      }
    },
    {
      "name": "Ollama - Clasificar Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300],
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral\",\n  \"stream\": false,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Clasific\u00e1 el siguiente email para un consultorio m\u00e9dico en UNA de estas categor\u00edas:\\n\\n- URGENTE: El paciente reporta s\u00edntomas graves o emergencia\\n- CONSULTA: Pregunta m\u00e9dica general\\n- TURNO: Solicitud de turno, cancelaci\u00f3n o modificaci\u00f3n\\n- RECETA: Solicitud de receta o renovaci\u00f3n\\n- ADMIN: Facturaci\u00f3n, administrativo, obra social\\n- SPAM: Correo no deseado, publicidad\\n\\nRespond\u00e9 SOLO con la categor\u00eda.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"De: {{ $('Extraer Datos Email').first().json.emailFrom }}\\nAsunto: {{ $('Extraer Datos Email').first().json.emailSubject }}\\n\\n{{ $('Extraer Datos Email').first().json.emailBody.slice(0, 1000) }}\"\n    }\n  ]\n}",
        "options": {}
      }
    },
    {
      "name": "Extraer Categoria Email",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [750, 300],
      "parameters": {
        "assignments": {
          "assignments": [
            { "name": "clasificacion", "value": "={{ $json.message.content.trim() }}", "type": "string" }
          ]
        },
        "options": {}
      }
    },
    {
      "name": "Enrutar Email",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2.3,
      "position": [1000, 300],
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.clasificacion }}",
        "rules": [
          { "value2": "URGENTE", "output": 0 },
          { "value2": "SPAM", "output": 1 }
        ],
        "fallbackOutput": 2
      }
    },
    {
      "name": "Twilio - Notificar Urgente",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 2,
      "position": [1250, 150],
      "parameters": {
        "resource": "message",
        "operation": "create",
        "to": "whatsapp:+5491155550000",
        "from": "",
        "body": "=URGENTE - Email de {{ $('Extraer Datos Email').first().json.emailFrom }}: {{ $('Extraer Datos Email').first().json.emailSubject }}. Revisa la bandeja de entrada.",
        "options": {}
      }
    },
    {
      "name": "Mover a Spam",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1250, 450],
      "parameters": {
        "options": {
          "moveToSpam": true
        }
      }
    },
    {
      "name": "Ollama - Redactar Borrador",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 650],
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral\",\n  \"stream\": false,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Sos el asistente de un consultorio m\u00e9dico. Redact\u00e1 un borrador de respuesta profesional para el siguiente email. S\u00e9 cordial y resolutivo. Si la consulta requiere diagn\u00f3stico, dec\u00ed que debe consultar personalmente al m\u00e9dico. Respond\u00e9 en espa\u00f1ol.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Email recibido:\\nDe: {{ $('Extraer Datos Email').first().json.emailFrom }}\\nAsunto: {{ $('Extraer Datos Email').first().json.emailSubject }}\\n\\n{{ $('Extraer Datos Email').first().json.emailBody.slice(0, 2000) }}\\n\\nRedact\u00e1 un borrador de respuesta profesional:\"\n    }\n  ]\n}",
        "options": {}
      }
    },
    {
      "name": "Extraer Borrador",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1500, 650],
      "parameters": {
        "assignments": {
          "assignments": [
            { "name": "borradorRespuesta", "value": "={{ $json.message.content }}", "type": "string" }
          ]
        },
        "options": {}
      }
    },
    {
      "name": "Guardar en Borradores",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1750, 650],
      "parameters": {
        "options": {
          "saveToDrafts": true,
          "draftSubject": "={{ 'Re: ' + $('Extraer Datos Email').first().json.emailSubject }}",
          "draftBody": "={{ $json.borradorRespuesta }}"
        }
      }
    },
    {
      "name": "Log a PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2000, 400],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_logs (workflow_id, workflow_name, execution_id, nivel, mensaje) VALUES ($1, 'Correo Inteligente', $2, 'info', $3);",
        "additionalFields": {
          "queryParams": "={{ ['workflow-04', $json.executionId || '', 'Email clasificado como ' + $('Extraer Categoria Email').first().json.clasificacion + ': ' + $('Extraer Datos Email').first().json.emailSubject] }}"
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "IMAP - Email Entrante": {
      "main": [[{"node": "Extraer Datos Email", "type": "main", "index": 0}]]
    },
    "Extraer Datos Email": {
      "main": [[{"node": "Ollama - Clasificar Email", "type": "main", "index": 0}]]
    },
    "Ollama - Clasificar Email": {
      "main": [[{"node": "Extraer Categoria Email", "type": "main", "index": 0}]]
    },
    "Extraer Categoria Email": {
      "main": [[{"node": "Enrutar Email", "type": "main", "index": 0}]]
    },
    "Enrutar Email": {
      "main": [
        [{"node": "Twilio - Notificar Urgente", "type": "main", "index": 0}],
        [{"node": "Mover a Spam", "type": "main", "index": 0}],
        [{"node": "Ollama - Redactar Borrador", "type": "main", "index": 0}]
      ]
    },
    "Twilio - Notificar Urgente": {
      "main": [[{"node": "Log a PostgreSQL", "type": "main", "index": 0}]]
    },
    "Mover a Spam": {
      "main": [[{"node": "Log a PostgreSQL", "type": "main", "index": 0}]]
    },
    "Ollama - Redactar Borrador": {
      "main": [[{"node": "Extraer Borrador", "type": "main", "index": 0}]]
    },
    "Extraer Borrador": {
      "main": [[{"node": "Guardar en Borradores", "type": "main", "index": 0}]]
    },
    "Guardar en Borradores": {
      "main": [[{"node": "Log a PostgreSQL", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
