n8n-workflows/workflow-03-to-create.json
{
  "name": "03 - Recordatorios Automaticos",
  "nodes": [
    {
      "name": "Cron - Cada Hora",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 2,
      "position": [0, 300],
      "parameters": {
        "triggerTimes": {
          "item": [
            { "mode": "everyHour", "hour": 0, "minute": 0 }
          ]
        }
      }
    },
    {
      "name": "PG - Turnos Proximas 24hs",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [250, 200],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT t.id, t.fecha_hora, t.estado, p.id as paciente_id, p.nombre, p.apellido, p.telefono, m.nombre as medico_nombre, '24h' as tipo FROM turnos t JOIN pacientes p ON p.id = t.paciente_id JOIN medicos m ON m.id = t.medico_id WHERE t.estado IN ('pendiente', 'confirmada') AND t.recordatorio_24h_enviado = FALSE AND t.fecha_hora BETWEEN NOW() AND NOW() + INTERVAL '24 hours' ORDER BY t.fecha_hora;",
        "options": {}
      }
    },
    {
      "name": "PG - Turnos Proxima 1h",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [250, 400],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT t.id, t.fecha_hora, t.estado, p.id as paciente_id, p.nombre, p.apellido, p.telefono, m.nombre as medico_nombre, '1h' as tipo FROM turnos t JOIN pacientes p ON p.id = t.paciente_id JOIN medicos m ON m.id = t.medico_id WHERE t.estado IN ('pendiente', 'confirmada') AND t.recordatorio_1h_enviado = FALSE AND t.fecha_hora BETWEEN NOW() AND NOW() + INTERVAL '1 hour' ORDER BY t.fecha_hora;",
        "options": {}
      }
    },
    {
      "name": "Combinar Recordatorios",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [500, 300],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "name": "Hay Turnos?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [750, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $items().length }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "larger",
                "name": "filter.operator.larger"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "name": "Enrutar por Tipo",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2.3,
      "position": [1000, 300],
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.tipo }}",
        "rules": [
          { "value2": "24h", "output": 0 },
          { "value2": "1h", "output": 1 }
        ],
        "fallbackOutput": 2
      }
    },
    {
      "name": "Generar Msg 24h",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1250, 150],
      "parameters": {
        "assignments": {
          "assignments": [
            { "name": "recordatorioMensaje", "value": "=Hola {{ $json.nombre }}! Te recordamos que tenes un turno manana {{ $json.fecha_hora }} con {{ $json.medico_nombre }}. Responde CONFIRMAR para confirmar tu asistencia. Gracias!", "type": "string" }
          ]
        },
        "options": {}
      }
    },
    {
      "name": "Twilio 24h",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 2,
      "position": [1500, 150],
      "parameters": {
        "resource": "message",
        "operation": "create",
        "to": "=whatsapp:+549{{ $json.telefono }}",
        "from": "",
        "body": "={{ $json.recordatorioMensaje }}",
        "options": {}
      }
    },
    {
      "name": "PG Update 24h",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1750, 150],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE turnos SET recordatorio_24h_enviado = TRUE, updated_at = NOW() WHERE id = $1;",
        "additionalFields": {
          "queryParams": "={{ [$json.id] }}"
        },
        "options": {}
      }
    },
    {
      "name": "Generar Msg 1h",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1250, 400],
      "parameters": {
        "assignments": {
          "assignments": [
            { "name": "recordatorioMensaje", "value": "=Recordatorio: en 1 hora tenes turno con {{ $json.medico_nombre }}. Te esperamos!", "type": "string" }
          ]
        },
        "options": {}
      }
    },
    {
      "name": "Twilio 1h",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 2,
      "position": [1500, 400],
      "parameters": {
        "resource": "message",
        "operation": "create",
        "to": "=whatsapp:+549{{ $json.telefono }}",
        "from": "",
        "body": "={{ $json.recordatorioMensaje }}",
        "options": {}
      }
    },
    {
      "name": "PG Update 1h",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1750, 400],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE turnos SET recordatorio_1h_enviado = TRUE, updated_at = NOW() WHERE id = $1;",
        "additionalFields": {
          "queryParams": "={{ [$json.id] }}"
        },
        "options": {}
      }
    },
    {
      "name": "Generar Msg Default",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1250, 550],
      "parameters": {
        "assignments": {
          "assignments": [
            { "name": "recordatorioMensaje", "value": "=Recordatorio: tenes turno proximamente con {{ $json.medico_nombre }}.", "type": "string" }
          ]
        },
        "options": {}
      }
    },
    {
      "name": "Twilio Default",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 2,
      "position": [1500, 550],
      "parameters": {
        "resource": "message",
        "operation": "create",
        "to": "=whatsapp:+549{{ $json.telefono }}",
        "from": "",
        "body": "={{ $json.recordatorioMensaje }}",
        "options": {}
      }
    },
    {
      "name": "PG Update Default",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1750, 550],
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE turnos SET recordatorio_24h_enviado = TRUE, updated_at = NOW() WHERE id = $1;",
        "additionalFields": {
          "queryParams": "={{ [$json.id] }}"
        },
        "options": {}
      }
    },
    {
      "name": "Log a PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2000, 300],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_logs (workflow_id, workflow_name, execution_id, nivel, mensaje) VALUES ($1, 'Recordatorios', $2, 'info', $3);",
        "additionalFields": {
          "queryParams": "={{ ['workflow-03', $json.executionId || '', 'Recordatorio ' + $json.tipo + ' enviado a ' + $json.nombre] }}"
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Cron - Cada Hora": {
      "main": [[
        { "node": "PG - Turnos Proximas 24hs", "type": "main", "index": 0 },
        { "node": "PG - Turnos Proxima 1h", "type": "main", "index": 0 }
      ]]
    },
    "PG - Turnos Proximas 24hs": {
      "main": [[{ "node": "Combinar Recordatorios", "type": "main", "index": 0 }]]
    },
    "PG - Turnos Proxima 1h": {
      "main": [[{ "node": "Combinar Recordatorios", "type": "main", "index": 1 }]]
    },
    "Combinar Recordatorios": {
      "main": [[{ "node": "Hay Turnos?", "type": "main", "index": 0 }]]
    },
    "Hay Turnos?": {
      "main": [
        [{ "node": "Enrutar por Tipo", "type": "main", "index": 0 }],
        []
      ]
    },
    "Enrutar por Tipo": {
      "main": [
        [{ "node": "Generar Msg 24h", "type": "main", "index": 0 }],
        [{ "node": "Generar Msg 1h", "type": "main", "index": 0 }],
        [{ "node": "Generar Msg Default", "type": "main", "index": 0 }]
      ]
    },
    "Generar Msg 24h": {
      "main": [[{ "node": "Twilio 24h", "type": "main", "index": 0 }]]
    },
    "Twilio 24h": {
      "main": [[{ "node": "PG Update 24h", "type": "main", "index": 0 }]]
    },
    "PG Update 24h": {
      "main": [[{ "node": "Log a PostgreSQL", "type": "main", "index": 0 }]]
    },
    "Generar Msg 1h": {
      "main": [[{ "node": "Twilio 1h", "type": "main", "index": 0 }]]
    },
    "Twilio 1h": {
      "main": [[{ "node": "PG Update 1h", "type": "main", "index": 0 }]]
    },
    "PG Update 1h": {
      "main": [[{ "node": "Log a PostgreSQL", "type": "main", "index": 0 }]]
    },
    "Generar Msg Default": {
      "main": [[{ "node": "Twilio Default", "type": "main", "index": 0 }]]
    },
    "Twilio Default": {
      "main": [[{ "node": "PG Update Default", "type": "main", "index": 0 }]]
    },
    "PG Update Default": {
      "main": [[{ "node": "Log a PostgreSQL", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
