n8n-workflows/workflow-04-correo-inteligente.json
{
  "name": "04 - Correo Inteligente",
  "nodes": [
    {
      "id": "email-trigger",
      "name": "IMAP - Email Entrante",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [0, 300],
      "parameters": {
        "criteria": "UNSEEN",
        "options": {
          "format": "text",
          "downloadAttachments": false
        }
      }
    },
    {
      "id": "classify-email",
      "name": "Ollama - Clasificar Email",
      "type": "n8n-nodes-base.ollama",
      "typeVersion": 2,
      "position": [250, 300],
      "parameters": {
        "model": "mistral",
        "temperature": 0.1,
        "maxTokens": 100,
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Clasificá el siguiente email para un consultorio médico en UNA de estas categorías:\n\n- URGENTE: El paciente reporta síntomas graves o emergencia\n- CONSULTA: Pregunta médica general\n- TURNO: Solicitud de turno, cancelación o modificación\n- RECETA: Solicitud de receta o renovación\n- ADMIN: Facturación, administrativo, obra social\n- SPAM: Correo no deseado, publicidad\n\nRespondé SOLO con la categoría."
            },
            {
              "role": "user",
              "content": "={{ 'De: ' + $json.from + '\\nAsunto: ' + $json.subject + '\\n\\n' + $json.textPlain.slice(0, 1000) }}"
            }
          ]
        }
      }
    },
    {
      "id": "route-email",
      "name": "Enrutar Email",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [500, 300],
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.message.content.trim() }}",
        "rules": [
          { "value2": "URGENTE", "output": 0 },
          { "value2": "SPAM", "output": 1 }
        ],
        "fallbackOutput": 2
      }
    },
    {
      "id": "notify-urgent-email",
      "name": "Notificar Email Urgente",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 2,
      "position": [750, 150],
      "parameters": {
        "resource": "message",
        "operation": "create",
        "to": "whatsapp:+549XXXXXXXXX",
        "from": "{{ $env.TWILIO_WHATSAPP_NUMBER }}",
        "body": "={{ '🚨 Email URGENTE de ' + $json.from + '\\nAsunto: ' + $json.subject + '\\n\\nRevisá la bandeja de entrada.' }}"
      }
    },
    {
      "id": "move-spam",
      "name": "Mover a Spam",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [750, 450],
      "parameters": {
        "options": {
          "moveToSpam": true
        }
      }
    },
    {
      "id": "generate-draft",
      "name": "Ollama - Redactar Borrador",
      "type": "n8n-nodes-base.ollama",
      "typeVersion": 2,
      "position": [750, 700],
      "parameters": {
        "model": "mistral",
        "temperature": 0.3,
        "maxTokens": 400,
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Sos el asistente de un consultorio médico. Redactá un borrador de respuesta profesional para el siguiente email. Sé cordial y resolutivo.\n\nImportante: Si la consulta requiere diagnóstico, decí que debe consultar personalmente al médico."
            },
            {
              "role": "user",
              "content": "={{ 'Email recibido:\\nDe: ' + $json.from + '\\nAsunto: ' + $json.subject + '\\n\\n' + $json.textPlain.slice(0, 2000) + '\\n\\nRedactá un borrador de respuesta:' }}"
            }
          ]
        }
      }
    },
    {
      "id": "save-to-drafts",
      "name": "Guardar en Borradores",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1000, 700],
      "parameters": {
        "options": {
          "saveToDrafts": true,
          "draftBody": "={{ $json.message.content }}",
          "draftSubject": "={{ 'Re: ' + $json.subject }}"
        }
      }
    },
    {
      "id": "log-email",
      "name": "PG - Log de Email",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [750, 950],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_logs (workflow_id, execution_id, nivel, mensaje, metadata)\nVALUES ('workflow-04', $1, $2, $3, $4);",
        "additionalFields": {
          "queryParams": "={{ [$json.executionId, 'info', 'Email procesado: ' + $json.subject, JSON.stringify({from: $json.from, subject: $json.subject, categoria: $json.clasificacion})] }}"
        }
      }
    }
  ],
  "connections": {
    "IMAP - Email Entrante": {
      "main": [[{ "node": "Ollama - Clasificar Email", "type": "main", "index": 0 }]]
    },
    "Ollama - Clasificar Email": {
      "main": [[{ "node": "Enrutar Email", "type": "main", "index": 0 }]]
    },
    "Enrutar Email": {
      "main": [
        [{ "node": "Notificar Email Urgente", "type": "main", "index": 0 }],
        [{ "node": "Mover a Spam", "type": "main", "index": 0 }],
        [{ "node": "Ollama - Redactar Borrador", "type": "main", "index": 0 }]
      ]
    },
    "Ollama - Redactar Borrador": {
      "main": [[{ "node": "Guardar en Borradores", "type": "main", "index": 0 }]]
    },
    "Guardar en Borradores": {
      "main": [[{ "node": "PG - Log de Email", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["email", "correo", "ia"],
  "active": false
}
