n8n-workflows/current/workflow-01-export.json
{"updatedAt":"2026-05-22T13:23:36.660Z","createdAt":"2026-05-16T14:31:40.437Z","id":"7gJaxias01SkCSFx","name":"01 - WhatsApp Inbound + Triaje IA","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"consultorio-inbound","options":{}},"name":"Webhook - Twilio WhatsApp","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,304],"webhookId":"b9e6ab70-db5d-4ad3-b52e-50460c2025c9","id":"6c50c483-bde2-4138-8276-80bee4fe008c"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"condition-body-exists","leftValue":"={{ $json.body || $json.Body }}","rightValue":"","operator":{"type":"string","operation":"isNotEmpty","singleValue":true}},{"id":"condition-webhook-secret","leftValue":"={{ $headers['x-webhook-secret'] || '' }}","rightValue":"={{ $env.WEBHOOK_SECRET || 'aicoremed-secret-key-2026' }}","operator":{"type":"string","operation":"equal","singleValue":true}}],"combinator":"and"}},"name":"Validar Mensaje","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[256,304],"id":"f45fc35e-2355-4097-9659-0d98453c27f0"},{"parameters":{"assignments":{"assignments":[{"name":"phone","value":"={{ $json.body.From.replace('whatsapp:', '') }}","type":"string"},{"name":"message","value":"={{ $json.body.Body }}","type":"string"},{"name":"profileName","value":"={{ $json.body.ProfileName || 'Paciente' }}","type":"string"},{"name":"twilioSid","value":"={{ $json.body.SmsSid }}","type":"string"},{"name":"toNumber","value":"={{ $json.body.To }}","type":"string"},{"name":"fromNumber","value":"={{ $json.body.From }}","type":"string"}]},"options":{}},"name":"Extraer Datos","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[512,304],"id":"a051e40d-7aa6-41bc-8f82-61ede9131fd4"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO pacientes (telefono, nombre, apellido, fuente, consentimiento_whatsapp) VALUES ($1, $2, '', 'whatsapp', TRUE) ON CONFLICT (telefono) DO UPDATE SET updated_at = NOW() RETURNING id, telefono, nombre, apellido, email, tags, canal_preferido;","options":{}},"name":"Obtener o Crear Paciente","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[768,304],"id":"16cc9f48-a489-40f6-ad46-e9c42a192374","credentials":{"postgres":{"id":"LndsAFMcQsVltuyi","name":"Consultorio - PostgreSQL"}}},{"parameters":{"operation":"executeQuery","query":"{{ 'SELECT t.id, t.fecha, t.hora_inicio, t.hora_fin, t.motivo, t.estado, m.nombre AS medico_nombre, m.especialidad FROM turnos t JOIN medicos m ON t.medico_id = m.id WHERE t.paciente_id = ' + $(\"Obtener o Crear Paciente\").first().json.id + ' AND t.fecha >= CURRENT_DATE ORDER BY t.fecha, t.hora_inicio LIMIT 5' }}","options":{}},"name":"Consultar Turnos del Paciente","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1024,304],"id":"90878f2a-2ecf-4301-8786-dbfb394140c8","credentials":{"postgres":{"id":"LndsAFMcQsVltuyi","name":"Consultorio - PostgreSQL"}}},{"parameters":{"operation":"executeQuery","query":"{{ 'SELECT r.id, r.medicamento, r.dosis, r.indicaciones, r.fecha_emision, r.fecha_vencimiento, r.estado FROM recetas r WHERE r.paciente_id = ' + $(\"Obtener o Crear Paciente\").first().json.id + ' ORDER BY r.fecha_emision DESC LIMIT 10' }}","options":{}},"name":"Consultar Recetas Activas","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1280,304],"id":"a43b86f9-a3e7-4951-a6a7-aaf4b7ab402d","credentials":{"postgres":{"id":"LndsAFMcQsVltuyi","name":"Consultorio - PostgreSQL"}}},{"parameters":{"jsCode":"// Construir contexto del paciente con historial de conversacion\nconst patientData = $input.first().json;\n\n// Datos del paciente\nconst nombre = patientData.nombre || 'Paciente';\nconst apellido = patientData.apellido || '';\nconst telefono = patientData.telefono || '';\n\n// Turnos del paciente\nconst turnos = patientData.turnos || [];\nconst turnosStr = turnos.length > 0 \n  ? turnos.map(t => `- ${t.fecha_hora || t.fecha}: ${t.estado || 'pendiente'} con ${t.medico_nombre || 'medico asignado'}`).join('\\n')\n  : '- No tiene turnos registrados';\n\n// Recetas activas\nconst recetas = patientData.recetas || [];\nconst recetasStr = recetas.length > 0\n  ? recetas.map(r => `- ${r.medicamento || r.medicacion}: ${r.dosis || ''} - ${r.indicaciones || ''}`).join('\\n')\n  : '- No tiene recetas activas';\n\n// Mensaje del paciente\nconst mensaje = patientData.mensaje || patientData.Body || '';\n\n// Armar contexto enriquecido\nconst contexto = {\n  paciente: `${nombre} ${apellido}`.trim(),\n  telefono: telefono,\n  mensaje: mensaje,\n  turnos: turnosStr,\n  recetas: recetasStr,\n  contextoCompleto: `Paciente: ${nombre} ${apellido}\nTelefono: ${telefono}\n\nMensaje del paciente: ${mensaje}\n\nTurnos del paciente:\n${turnosStr}\n\nRecetas activas:\n${recetasStr}`\n};\n\nreturn contexto;\n"},"name":"Construir Contexto Paciente","type":"n8n-nodes-base.code","typeVersion":2,"position":[1536,304],"id":"a5dd5658-5939-4927-aa42-0e96f2842c17"},{"parameters":{"model":"mistral","options":{"temperature":0.3}},"name":"Ollama Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[1808,80],"id":"e702d643-5200-4c2d-9163-c0dd19f45370","credentials":{"ollamaApi":{"id":"0yOB7HJzYtVXceLp","name":"Ollama - Consultorio Medico"}}},{"parameters":{"systemMessage":"Eres un asistente virtual de un consultorio medico. Tu nombre es AiCoreMed.\n\nINSTRUCCIONES:\n1. Atendes pacientes que te escriben por WhatsApp.\n2. Usas la informacion del paciente (nombre, turnos, recetas) para dar respuestas personalizadas.\n3. Recordas conversaciones anteriores gracias a tu memoria.\n4. Sos amable, profesional y respondes en espa*ol argentino.\n\nREGLAS:\n- Si el paciente quiere AGENDAR un turno, responde con el formato: ###ACCION###agendar_turno###FIN###\n- Si el paciente quiere CANCELAR un turno, responde con: ###ACCION###cancelar_turno###FIN###\n- Si el paciente quiere RENOVAR una receta, responde con: ###ACCION###renovar_receta###FIN###\n- Si el paciente pregunta por su HISTORIAL o DATOS, responde con la informacion disponible sin marca de accion.\n- Si es una consulta general, responde de forma natural y ayuda al paciente.\n- Si el paciente esta preocupado o con dolor, deriva a urgencias.\n\nCONTEXTO DEL PACIENTE:\n{{ $json.contextoCompleto }}\n\nMEMORIA:\nRecordas las interacciones anteriores con este paciente. Usa esa informacion para dar continuidad a la conversacion.\n\nRESPONDE de forma natural y conversacional. Si necesitas realizar una accion, usa el formato ###ACCION###tipo_accion###FIN### al final de tu mensaje.","options":{}},"name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1,"position":[1824,304],"id":"d51f7ed9-b335-4fcb-978a-6ff4341c933f"},{"parameters":{"assignments":{"assignments":[{"name":"agentOutput","value":"={{ $json.output }}","type":"string"}]},"options":{}},"name":"Extraer Output del Agente","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2384,304],"id":"73cf9f80-8381-4ff4-a251-58be074bd9a1"},{"parameters":{},"name":"Parsear y Preparar","type":"n8n-nodes-base.code","typeVersion":2,"position":[2608,304],"id":"0fea1e78-2ad3-4d5d-806a-66620f5fda51"},{"parameters":{"method":"POST","url":"={{ 'https://api.twilio.com/2010-04-01/Accounts/' + $env.TWILIO_ACCOUNT_SID + '/Messages.json' }}","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"From","value":"={{ $json.toNumber }}"},{"name":"To","value":"={{ $json.fromNumber }}"},{"name":"Body","value":"={{ $json.responseText }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"name":"Twilio - Enviar WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2864,304],"id":"a1799298-422a-4e39-929b-42bad17dc9cb","credentials":{"httpBasicAuth":{"id":"cWihp3akRY6cYwIM","name":"Consultorio - Twilio Basic Auth"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.tieneAccion }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"name":"Hay Accion?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[3104,304],"id":"b51ee8a3-5f86-4929-a360-8b6b4f1b2aed"},{"parameters":{"operation":"executeQuery","query":"{{ $json.sqlAccion }}","options":{}},"name":"Registrar Accion Pendiente","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[3360,112],"id":"25920fb0-9a17-4d7e-bc0d-89881f68109d","credentials":{"postgres":{"id":"LndsAFMcQsVltuyi","name":"Consultorio - PostgreSQL"}}},{"parameters":{"operation":"executeQuery","query":"{{ $json.sqlGuardar }}","options":{}},"name":"Guardar Conversacion en DB","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[3360,352],"id":"ec27e244-1431-46d1-92a2-88c0dc917dfc","credentials":{"postgres":{"id":"LndsAFMcQsVltuyi","name":"Consultorio - PostgreSQL"}}},{"parameters":{"operation":"executeQuery","query":"{{ $json.sqlLog }}","options":{}},"name":"Log a PostgreSQL","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[3360,560],"id":"99bcdeeb-2244-4f4e-8c25-b382c9b12225","credentials":{"postgres":{"id":"LndsAFMcQsVltuyi","name":"Consultorio - PostgreSQL"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.telefono }}","tableName":"n8n_chat_histories","contextWindowLength":10},"id":"postgres-memory-001","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.2,"position":[1808,500],"credentials":{"postgres":{"id":"LndsAFMcQsVltuyi","name":"Consultorio - PostgreSQL"}}}],"connections":{"Webhook - Twilio WhatsApp":{"main":[[{"node":"Validar Mensaje","type":"main","index":0}]]},"Validar Mensaje":{"main":[[{"node":"Extraer Datos","type":"main","index":0}],[]]},"Extraer Datos":{"main":[[{"node":"Obtener o Crear Paciente","type":"main","index":0}]]},"Obtener o Crear Paciente":{"main":[[{"node":"Consultar Turnos del Paciente","type":"main","index":0}]]},"Consultar Turnos del Paciente":{"main":[[{"node":"Consultar Recetas Activas","type":"main","index":0}]]},"Consultar Recetas Activas":{"main":[[{"node":"Construir Contexto Paciente","type":"main","index":0}]]},"Construir Contexto Paciente":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Extraer Output del Agente","type":"main","index":0}]]},"Extraer Output del Agente":{"main":[[{"node":"Parsear y Preparar","type":"main","index":0}]]},"Parsear y Preparar":{"main":[[{"node":"Twilio - Enviar WhatsApp","type":"main","index":0}]]},"Twilio - Enviar WhatsApp":{"main":[[{"node":"Hay Accion?","type":"main","index":0}]]},"Hay Accion?":{"main":[[{"node":"Registrar Accion Pendiente","type":"main","index":0}],[{"node":"Guardar Conversacion en DB","type":"main","index":0}]]},"Registrar Accion Pendiente":{"main":[[{"node":"Guardar Conversacion en DB","type":"main","index":0}]]},"Guardar Conversacion en DB":{"main":[[{"node":"Log a PostgreSQL","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{},"versionId":"ba973c84-4bd0-46db-99ae-6096e16dd028","activeVersionId":"ba973c84-4bd0-46db-99ae-6096e16dd028","versionCounter":27,"triggerCount":1,"shared":[{"updatedAt":"2026-05-16T14:31:40.437Z","createdAt":"2026-05-16T14:31:40.437Z","role":"workflow:owner","workflowId":"7gJaxias01SkCSFx","projectId":"jiaWx4AaJK5LGZ9r","project":{"updatedAt":"2026-04-26T02:53:48.312Z","createdAt":"2026-04-26T02:49:56.388Z","id":"jiaWx4AaJK5LGZ9r","name":"Leonardo Spedaletti <spedalettileonardo@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"8274b19f-2f1f-4df7-be3d-d02d67d238d1"}}],"tags":[],"activeVersion":{"updatedAt":"2026-05-22T13:23:36.665Z","createdAt":"2026-05-22T13:23:36.665Z","versionId":"ba973c84-4bd0-46db-99ae-6096e16dd028","workflowId":"7gJaxias01SkCSFx","nodes":[{"parameters":{"httpMethod":"POST","path":"consultorio-inbound","options":{}},"name":"Webhook - Twilio WhatsApp","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[0,304],"webhookId":"b9e6ab70-db5d-4ad3-b52e-50460c2025c9","id":"6c50c483-bde2-4138-8276-80bee4fe008c"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"condition-body-exists","leftValue":"={{ $json.body || $json.Body }}","rightValue":"","operator":{"type":"string","operation":"isNotEmpty","singleValue":true}},{"id":"condition-webhook-secret","leftValue":"={{ $headers['x-webhook-secret'] || '' }}","rightValue":"={{ $env.WEBHOOK_SECRET || 'aicoremed-secret-key-2026' }}","operator":{"type":"string","operation":"equal","singleValue":true}}],"combinator":"and"}},"name":"Validar Mensaje","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[256,304],"id":"f45fc35e-2355-4097-9659-0d98453c27f0"},{"parameters":{"assignments":{"assignments":[{"name":"phone","value":"={{ $json.body.From.replace('whatsapp:', '') }}","type":"string"},{"name":"message","value":"={{ $json.body.Body }}","type":"string"},{"name":"profileName","value":"={{ $json.body.ProfileName || 'Paciente' }}","type":"string"},{"name":"twilioSid","value":"={{ $json.body.SmsSid }}","type":"string"},{"name":"toNumber","value":"={{ $json.body.To }}","type":"string"},{"name":"fromNumber","value":"={{ $json.body.From }}","type":"string"}]},"options":{}},"name":"Extraer Datos","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[512,304],"id":"a051e40d-7aa6-41bc-8f82-61ede9131fd4"},{"parameters":{"operation":"executeQuery","query":"INSERT INTO pacientes (telefono, nombre, apellido, fuente, consentimiento_whatsapp) VALUES ($1, $2, '', 'whatsapp', TRUE) ON CONFLICT (telefono) DO UPDATE SET updated_at = NOW() RETURNING id, telefono, nombre, apellido, email, tags, canal_preferido;","options":{}},"name":"Obtener o Crear Paciente","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[768,304],"id":"16cc9f48-a489-40f6-ad46-e9c42a192374","credentials":{"postgres":{"id":"LndsAFMcQsVltuyi","name":"Consultorio - PostgreSQL"}}},{"parameters":{"operation":"executeQuery","query":"{{ 'SELECT t.id, t.fecha, t.hora_inicio, t.hora_fin, t.motivo, t.estado, m.nombre AS medico_nombre, m.especialidad FROM turnos t JOIN medicos m ON t.medico_id = m.id WHERE t.paciente_id = ' + $(\"Obtener o Crear Paciente\").first().json.id + ' AND t.fecha >= CURRENT_DATE ORDER BY t.fecha, t.hora_inicio LIMIT 5' }}","options":{}},"name":"Consultar Turnos del Paciente","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1024,304],"id":"90878f2a-2ecf-4301-8786-dbfb394140c8","credentials":{"postgres":{"id":"LndsAFMcQsVltuyi","name":"Consultorio - PostgreSQL"}}},{"parameters":{"operation":"executeQuery","query":"{{ 'SELECT r.id, r.medicamento, r.dosis, r.indicaciones, r.fecha_emision, r.fecha_vencimiento, r.estado FROM recetas r WHERE r.paciente_id = ' + $(\"Obtener o Crear Paciente\").first().json.id + ' ORDER BY r.fecha_emision DESC LIMIT 10' }}","options":{}},"name":"Consultar Recetas Activas","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1280,304],"id":"a43b86f9-a3e7-4951-a6a7-aaf4b7ab402d","credentials":{"postgres":{"id":"LndsAFMcQsVltuyi","name":"Consultorio - PostgreSQL"}}},{"parameters":{"jsCode":"// Construir contexto del paciente con historial de conversacion\nconst patientData = $input.first().json;\n\n// Datos del paciente\nconst nombre = patientData.nombre || 'Paciente';\nconst apellido = patientData.apellido || '';\nconst telefono = patientData.telefono || '';\n\n// Turnos del paciente\nconst turnos = patientData.turnos || [];\nconst turnosStr = turnos.length > 0 \n  ? turnos.map(t => `- ${t.fecha_hora || t.fecha}: ${t.estado || 'pendiente'} con ${t.medico_nombre || 'medico asignado'}`).join('\\n')\n  : '- No tiene turnos registrados';\n\n// Recetas activas\nconst recetas = patientData.recetas || [];\nconst recetasStr = recetas.length > 0\n  ? recetas.map(r => `- ${r.medicamento || r.medicacion}: ${r.dosis || ''} - ${r.indicaciones || ''}`).join('\\n')\n  : '- No tiene recetas activas';\n\n// Mensaje del paciente\nconst mensaje = patientData.mensaje || patientData.Body || '';\n\n// Armar contexto enriquecido\nconst contexto = {\n  paciente: `${nombre} ${apellido}`.trim(),\n  telefono: telefono,\n  mensaje: mensaje,\n  turnos: turnosStr,\n  recetas: recetasStr,\n  contextoCompleto: `Paciente: ${nombre} ${apellido}\nTelefono: ${telefono}\n\nMensaje del paciente: ${mensaje}\n\nTurnos del paciente:\n${turnosStr}\n\nRecetas activas:\n${recetasStr}`\n};\n\nreturn contexto;\n"},"name":"Construir Contexto Paciente","type":"n8n-nodes-base.code","typeVersion":2,"position":[1536,304],"id":"a5dd5658-5939-4927-aa42-0e96f2842c17"},{"parameters":{"model":"mistral","options":{"temperature":0.3}},"name":"Ollama Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOllama","typeVersion":1,"position":[1808,80],"id":"e702d643-5200-4c2d-9163-c0dd19f45370","credentials":{"ollamaApi":{"id":"0yOB7HJzYtVXceLp","name":"Ollama - Consultorio Medico"}}},{"parameters":{"systemMessage":"Eres un asistente virtual de un consultorio medico. Tu nombre es AiCoreMed.\n\nINSTRUCCIONES:\n1. Atendes pacientes que te escriben por WhatsApp.\n2. Usas la informacion del paciente (nombre, turnos, recetas) para dar respuestas personalizadas.\n3. Recordas conversaciones anteriores gracias a tu memoria.\n4. Sos amable, profesional y respondes en espa*ol argentino.\n\nREGLAS:\n- Si el paciente quiere AGENDAR un turno, responde con el formato: ###ACCION###agendar_turno###FIN###\n- Si el paciente quiere CANCELAR un turno, responde con: ###ACCION###cancelar_turno###FIN###\n- Si el paciente quiere RENOVAR una receta, responde con: ###ACCION###renovar_receta###FIN###\n- Si el paciente pregunta por su HISTORIAL o DATOS, responde con la informacion disponible sin marca de accion.\n- Si es una consulta general, responde de forma natural y ayuda al paciente.\n- Si el paciente esta preocupado o con dolor, deriva a urgencias.\n\nCONTEXTO DEL PACIENTE:\n{{ $json.contextoCompleto }}\n\nMEMORIA:\nRecordas las interacciones anteriores con este paciente. Usa esa informacion para dar continuidad a la conversacion.\n\nRESPONDE de forma natural y conversacional. Si necesitas realizar una accion, usa el formato ###ACCION###tipo_accion###FIN### al final de tu mensaje.","options":{}},"name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1,"position":[1824,304],"id":"d51f7ed9-b335-4fcb-978a-6ff4341c933f"},{"parameters":{"assignments":{"assignments":[{"name":"agentOutput","value":"={{ $json.output }}","type":"string"}]},"options":{}},"name":"Extraer Output del Agente","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2384,304],"id":"73cf9f80-8381-4ff4-a251-58be074bd9a1"},{"parameters":{},"name":"Parsear y Preparar","type":"n8n-nodes-base.code","typeVersion":2,"position":[2608,304],"id":"0fea1e78-2ad3-4d5d-806a-66620f5fda51"},{"parameters":{"method":"POST","url":"={{ 'https://api.twilio.com/2010-04-01/Accounts/' + $env.TWILIO_ACCOUNT_SID + '/Messages.json' }}","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"From","value":"={{ $json.toNumber }}"},{"name":"To","value":"={{ $json.fromNumber }}"},{"name":"Body","value":"={{ $json.responseText }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"name":"Twilio - Enviar WhatsApp","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2864,304],"id":"a1799298-422a-4e39-929b-42bad17dc9cb","credentials":{"httpBasicAuth":{"id":"cWihp3akRY6cYwIM","name":"Consultorio - Twilio Basic Auth"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.tieneAccion }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"name":"Hay Accion?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[3104,304],"id":"b51ee8a3-5f86-4929-a360-8b6b4f1b2aed"},{"parameters":{"operation":"executeQuery","query":"{{ $json.sqlAccion }}","options":{}},"name":"Registrar Accion Pendiente","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[3360,112],"id":"25920fb0-9a17-4d7e-bc0d-89881f68109d","credentials":{"postgres":{"id":"LndsAFMcQsVltuyi","name":"Consultorio - PostgreSQL"}}},{"parameters":{"operation":"executeQuery","query":"{{ $json.sqlGuardar }}","options":{}},"name":"Guardar Conversacion en DB","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[3360,352],"id":"ec27e244-1431-46d1-92a2-88c0dc917dfc","credentials":{"postgres":{"id":"LndsAFMcQsVltuyi","name":"Consultorio - PostgreSQL"}}},{"parameters":{"operation":"executeQuery","query":"{{ $json.sqlLog }}","options":{}},"name":"Log a PostgreSQL","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[3360,560],"id":"99bcdeeb-2244-4f4e-8c25-b382c9b12225","credentials":{"postgres":{"id":"LndsAFMcQsVltuyi","name":"Consultorio - PostgreSQL"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.telefono }}","tableName":"n8n_chat_histories","contextWindowLength":10},"id":"postgres-memory-001","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.2,"position":[1808,500],"credentials":{"postgres":{"id":"LndsAFMcQsVltuyi","name":"Consultorio - PostgreSQL"}}}],"connections":{"Webhook - Twilio WhatsApp":{"main":[[{"node":"Validar Mensaje","type":"main","index":0}]]},"Validar Mensaje":{"main":[[{"node":"Extraer Datos","type":"main","index":0}],[]]},"Extraer Datos":{"main":[[{"node":"Obtener o Crear Paciente","type":"main","index":0}]]},"Obtener o Crear Paciente":{"main":[[{"node":"Consultar Turnos del Paciente","type":"main","index":0}]]},"Consultar Turnos del Paciente":{"main":[[{"node":"Consultar Recetas Activas","type":"main","index":0}]]},"Consultar Recetas Activas":{"main":[[{"node":"Construir Contexto Paciente","type":"main","index":0}]]},"Construir Contexto Paciente":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Ollama Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"AI Agent":{"main":[[{"node":"Extraer Output del Agente","type":"main","index":0}]]},"Extraer Output del Agente":{"main":[[{"node":"Parsear y Preparar","type":"main","index":0}]]},"Parsear y Preparar":{"main":[[{"node":"Twilio - Enviar WhatsApp","type":"main","index":0}]]},"Twilio - Enviar WhatsApp":{"main":[[{"node":"Hay Accion?","type":"main","index":0}]]},"Hay Accion?":{"main":[[{"node":"Registrar Accion Pendiente","type":"main","index":0}],[{"node":"Guardar Conversacion en DB","type":"main","index":0}]]},"Registrar Accion Pendiente":{"main":[[{"node":"Guardar Conversacion en DB","type":"main","index":0}]]},"Guardar Conversacion en DB":{"main":[[{"node":"Log a PostgreSQL","type":"main","index":0}]]}},"authors":"Leonardo Spedaletti","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-05-22T13:23:37.277Z","id":20,"workflowId":"7gJaxias01SkCSFx","versionId":"ba973c84-4bd0-46db-99ae-6096e16dd028","event":"activated","userId":"8274b19f-2f1f-4df7-be3d-d02d67d238d1"}]}}