n8n-workflows/current/workflow-11-novedades.json
[{
  "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
  "name": "WF-11: Novedades desde Commits",
  "active": false,
  "nodes": [
    {
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Webhook: GitHub Push",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "novedades-generar",
      "parameters": {
        "httpMethod": "POST",
        "path": "novedades-generar",
        "options": {}
      }
    },
    {
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "POST /api/novedades/generar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300],
      "parameters": {
        "url": "={{ $env.DASHBOARD_URL || 'https://med.aicorebots.com' }}/api/novedades/generar",
        "method": "POST",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-internal-key",
              "value": "={{ $env.NOVEDADES_INTERNAL_KEY }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "d4e5f6a7-b8c9-0123-defa-234567890123",
      "name": "Se generaron entradas?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.mensaje }}",
              "operation": "contains",
              "value2": "generaron"
            }
          ]
        }
      }
    },
    {
      "id": "e5f6a7b8-c9d0-1234-efab-345678901234",
      "name": "Novedades generadas",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [850, 200],
      "parameters": {}
    },
    {
      "id": "f6a7b8c9-d0e1-2345-fabc-456789012345",
      "name": "Sin commits nuevos",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [850, 400],
      "parameters": {}
    }
  ],
  "connections": {
    "Webhook: GitHub Push": {
      "main": [
        [
          {
            "node": "POST /api/novedades/generar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /api/novedades/generar": {
      "main": [
        [
          {
            "node": "Se generaron entradas?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Se generaron entradas?": {
      "main": [
        [
          {
            "node": "Novedades generadas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sin commits nuevos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": []
}]