n8n-workflows/current/workflow-04-export.json
{
  "name": "04 - Correo Inteligente",
  "nodes": [
    {
      "parameters": {
        "criteria": "UNSEEN",
        "options": {
          "format": "text",
          "downloadAttachments": false
        }
      },
      "name": "IMAP - Email Entrante",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "id": "509f8bec-e5a3-4576-9f15-84e638944cb1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "emailFrom",
              "value": "={{ $json.from }}",
              "type": "string"
            },
            {
              "name": "emailSubject",
              "value": "={{ $json.subject }}",
              "type": "string"
            },
            {
              "name": "emailBody",
              "value": "={{ $json.textPlain }}",
              "type": "string"
            },
            {
              "name": "emailId",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Extraer Datos Email",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        250,
        300
      ],
      "id": "e24233d4-0306-4559-88d2-336babdcedb1"
    },
    {
      "parameters": {
        "model": "mistral",
        "baseUrl": "http://ollama:11434",
        "options": {
          "temperature": 0.3
        }
      },
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        500,
        80
      ],
      "id": "10f73961-44dd-43a0-843d-86f1d060a0c3",
      "credentials": {
        "ollamaApi": {
          "id": "0yOB7HJzYtVXceLp",
          "name": "Ollama - Consultorio Medico"
        }
      }
    },
    {
      "parameters": {
        "agentType": "conversational",
        "systemMessage": "={{ 'Sos el asistente de gestión de correo del Consultorio Médico.\n\n=== EMAIL RECIBIDO ===\nDe: ' + $json.emailFrom + '\nAsunto: ' + $json.emailSubject + '\nFecha: ' + ($json.emailDate || '') + '\nCuerpo: ' + ($json.emailBody || '').substring(0, 2000) + '\n\n=== INSTRUCCIONES ===\nClasificá el email y determiná la acción. Respondé en español argentino, tono profesional.\n\nAl final de tu respuesta, agregá SOLAMENTE este bloque JSON:\n###EMAIL_ACTION###\n{\"clasificacion\": \"GENERAL\", \"accion\": \"responder\", \"borrador\": \"...\", \"motivo\": \"...\"}\n###FIN###\n\nCLASIFICACION:\n- URGENTE: emergencia, dolor fuerte, síntomas graves\n- SPAM: publicidad, newsletter, no relacionado\n- RECETA: solicitud de receta o renovación\n- CONSULTA_TURNO: pregunta sobre turnos, horarios\n- CONSULTA_GENERAL: otra consulta médica o administrativa\n- OTRO: no aplica\n\nACCION:\n- notificar_whatsapp: para URGENTE → se notifica al médico vía WhatsApp\n- mover_spam: para SPAM → se mueve a spam\n- redactar_borrador: para todo lo demás → se guarda borrador de respuesta\n\nBORRADOR: (solo si accion=redactar_borrador)\nRedactá una respuesta profesional en español argentino. Saludá cordialmente, respondé a la consulta y despedite.\nNo uses el borrador si acción es notificar_whatsapp o mover_spam.' }}",
        "options": {}
      },
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        750,
        300
      ],
      "id": "220e1640-1c86-4f7b-badd-cafca4fb1435"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "agentOutput",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Extraer Output del Agente",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1000,
        300
      ],
      "id": "49a9c9b5-3e32-4070-94ea-ffac08958ad2"
    },
    {
      "parameters": {
        "code": "// Obtener la respuesta del agente\nconst rawText = $input.first().json.agentOutput || $input.first().json.output || '';\nconst extraer = $(\"Extraer Datos Email\").first().json;\n\n// Helper para escapar SQL\nconst esc = (s) => (s || '').replace(/'/g, \"''\");\n\n// Buscar acción estructurada\nconst actionMatch = rawText.match(/###EMAIL_ACTION###\\n([\\s\\S]*?)\\n###FIN###/);\nlet accion = null;\nlet textoLimpio = rawText;\nlet clasificacion = 'GENERAL';\nlet accionTipo = 'redactar_borrador';\nlet borradorTexto = '';\n\nif (actionMatch) {\n  try {\n    accion = JSON.parse(actionMatch[1].trim());\n    clasificacion = accion.clasificacion || 'GENERAL';\n    accionTipo = accion.accion || 'redactar_borrador';\n    borradorTexto = accion.borrador || '';\n    textoLimpio = rawText.replace(/###EMAIL_ACTION###[\\s\\S]*?###FIN###/, '').trim();\n  } catch (e) {\n    console.error('Error parseando acción:', e);\n  }\n}\n\n// Construir SQLs\nconst sqlLog = `INSERT INTO workflow_logs (workflow_id, workflow_name, execution_id, nivel, mensaje) VALUES ('workflow-04', 'Correo Inteligente', '${$execution.id}', '${esc(clasificacion)}', '${esc('Email clasificado como ' + clasificacion + ': ' + (extraer.emailSubject || '').substring(0, 100))}');`;\n\nconst sqlAccion = `INSERT INTO workflow_logs (workflow_id, workflow_name, execution_id, nivel, mensaje) VALUES ('workflow-04', 'Correo Inteligente', '${$execution.id}', '${esc(accionTipo)}', '${esc('ACCION: ' + accionTipo + ' | ' + JSON.stringify({clasificacion, accionTipo, motivo: accion?.motivo || ''}))}');`;\n\nreturn [{\n  clasificacion: clasificacion,\n  accionTipo: accionTipo,\n  borradorRespuesta: borradorTexto,\n  textoLimpio: textoLimpio,\n  sqlLog: sqlLog,\n  sqlAccion: sqlAccion,\n  // Preservar datos del email\n  emailFrom: extraer.emailFrom,\n  emailSubject: extraer.emailSubject,\n  emailBody: extraer.emailBody,\n  emailId: extraer.emailId\n}];",
        "options": {}
      },
      "name": "Parsear Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1250,
        300
      ],
      "id": "28298ad0-ede5-49c0-becd-eb9e727646f9"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.accionTipo }}",
        "rules": [
          {
            "value2": "notificar_whatsapp",
            "output": 0
          },
          {
            "value2": "mover_spam",
            "output": 1
          }
        ],
        "fallbackOutput": 2
      },
      "name": "Enrutar por Accion",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2.3,
      "position": [
        1500,
        300
      ],
      "id": "0f91e447-ce25-47ce-a18c-ceb10c8ef64f"
    },
    {
      "parameters": {
        "options": {},
        "url": "https://api.twilio.com/2010-04-01/Accounts/TWILIO_ACCOUNT_SID_PLACEHOLDER/Messages.json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "whatsapp:+5491155550000"
            },
            {
              "name": "From",
              "value": ""
            },
            {
              "name": "Body",
              "value": "={{ 'URGENTE - Email de ' + $('Parsear Email').first().json.emailFrom + ': ' + $('Parsear Email').first().json.emailSubject + '. Revisá la bandeja de entrada.' }}"
            }
          ]
        },
        "method": "POST",
        "authentication": "genericCredentialType",
        "sendBody": true,
        "genericAuthType": "httpBasicAuth"
      },
      "name": "Twilio - Notificar Urgente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1750,
        60
      ],
      "id": "a1531860-20b7-4887-a7ab-22ab8db80c41",
      "credentials": {
        "httpBasicAuth": {
          "id": "cWihp3akRY6cYwIM",
          "name": "Consultorio - Twilio Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "moveToSpam": true
        }
      },
      "name": "Mover a Spam",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        1750,
        300
      ],
      "id": "cc543fe0-58b8-4269-aa5f-ac8b24a4f091",
      "webhookId": "28ee586c-19d1-44ee-a7d2-0d2ce093c7a6"
    },
    {
      "parameters": {
        "options": {
          "saveToDrafts": true,
          "draftSubject": "={{ 'Re: ' + $('Extraer Datos Email').first().json.emailSubject }}",
          "draftBody": "={{ $json.borradorRespuesta }}"
        }
      },
      "name": "Guardar Borrador Respuesta",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        1750,
        540
      ],
      "id": "cbf340e8-a000-495d-8a58-84f960e13ce1",
      "webhookId": "be1c1396-7f78-475f-9088-4ca5b2782b45"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sqlLog }}",
        "options": {}
      },
      "name": "Log Clasificacion",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2000,
        400
      ],
      "id": "572bc884-76b6-4bf7-ba0f-f9e830d5d1bb",
      "credentials": {
        "postgres": {
          "id": "LndsAFMcQsVltuyi",
          "name": "Consultorio - PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sqlAccion }}",
        "options": {}
      },
      "name": "Log Accion",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2000,
        550
      ],
      "id": "08bbe21c-9301-4506-b87e-acae0ff5106f",
      "credentials": {
        "postgres": {
          "id": "LndsAFMcQsVltuyi",
          "name": "Consultorio - PostgreSQL"
        }
      }
    }
  ],
  "connections": {
    "IMAP - Email Entrante": {
      "main": [
        [
          {
            "node": "Extraer Datos Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Datos Email": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Extraer Output del Agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Output del Agente": {
      "main": [
        [
          {
            "node": "Parsear Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Email": {
      "main": [
        [
          {
            "node": "Enrutar por Accion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrutar por Accion": {
      "main": [
        [
          {
            "node": "Twilio - Notificar Urgente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mover a Spam",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guardar Borrador Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio - Notificar Urgente": {
      "main": [
        [
          {
            "node": "Log Clasificacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mover a Spam": {
      "main": [
        [
          {
            "node": "Log Clasificacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Borrador Respuesta": {
      "main": [
        [
          {
            "node": "Log Clasificacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Clasificacion": {
      "main": [
        [
          {
            "node": "Log Accion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false,
  "versionId": "dce2a764-7d2e-497e-bada-fc4e1202b224"
}