n8n-workflows/current/workflow-03-export.json
{"updatedAt":"2026-05-21T00:10:41.712Z","createdAt":"2026-05-16T18:04:07.778Z","id":"RBfR8UYpm79FamiQ","name":"03 - Recordatorios Automáticos","description":null,"active":true,"isArchived":false,"nodes":[{"id":"cron-trigger","name":"Cron - Cada Hora","type":"n8n-nodes-base.cron","typeVersion":2,"position":[0,300],"parameters":{"triggerTimes":{"item":[{"mode":"everyHour","hour":0,"minute":0}]}}},{"id":"query-reminders-24h","name":"PG - Turnos Próximas 24hs","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[250,200],"parameters":{"operation":"executeQuery","query":"SELECT t.id, t.fecha_hora, t.estado,\n  p.id as paciente_id, p.nombre, p.apellido, p.telefono,\n  m.nombre as medico_nombre\nFROM turnos t\nJOIN pacientes p ON p.id = t.paciente_id\nJOIN medicos m ON m.id = t.medico_id\nWHERE t.estado IN ('pendiente', 'confirmada')\n  AND t.recordatorio_24h_enviado = FALSE\n  AND t.fecha_hora BETWEEN NOW() AND NOW() + INTERVAL '24 hours'\nORDER BY t.fecha_hora;"},"credentials":{"postgres":{"id":"LndsAFMcQsVltuyi","name":"Consultorio - PostgreSQL"}}},{"id":"query-reminders-1h","name":"PG - Turnos Próxima 1h","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[250,400],"parameters":{"operation":"executeQuery","query":"SELECT t.id, t.fecha_hora, t.estado,\n  p.id as paciente_id, p.nombre, p.apellido, p.telefono,\n  m.nombre as medico_nombre\nFROM turnos t\nJOIN pacientes p ON p.id = t.paciente_id\nJOIN medicos m ON m.id = t.medico_id\nWHERE t.estado IN ('pendiente', 'confirmada')\n  AND t.recordatorio_1h_enviado = FALSE\n  AND t.fecha_hora BETWEEN NOW() AND NOW() + INTERVAL '1 hour'\nORDER BY t.fecha_hora;"},"credentials":{"postgres":{"id":"LndsAFMcQsVltuyi","name":"Consultorio - PostgreSQL"}}},{"id":"merge-reminders","name":"Combinar Recordatorios","type":"n8n-nodes-base.merge","typeVersion":2,"position":[500,300],"parameters":{"mode":"append"}},{"id":"is-empty-check","name":"¿Hay turnos?","type":"n8n-nodes-base.if","typeVersion":2,"position":[750,300],"parameters":{"conditions":{"number":[{"value1":"={{ $items().length }}","operation":"larger","value2":0}]}}},{"id":"send-24h-reminder","name":"Twilio - Recordatorio 24h","type":"n8n-nodes-base.twilio","typeVersion":2,"position":[1000,150],"parameters":{"resource":"message","operation":"create","to":"={{ 'whatsapp:+549' + $json.telefono }}","from":"{{ $env.TWILIO_WHATSAPP_NUMBER }}","body":"={{ '👋 Hola ' + $json.nombre + '! Te recordamos que tenés un turno mañana ' + $json.fecha_hora + ' con ' + $json.medico_nombre + '. Respondé CONFIRMAR para confirmar tu asistencia. ¡Gracias! 😊' }}"},"credentials":{"twilioApi":{"id":"aE31QgQsM9spWb5a","name":"Consultorio - Twilio API"}}},{"id":"send-1h-reminder","name":"Twilio - Recordatorio 1h","type":"n8n-nodes-base.twilio","typeVersion":2,"position":[1000,450],"parameters":{"resource":"message","operation":"create","to":"={{ 'whatsapp:+549' + $json.telefono }}","from":"{{ $env.TWILIO_WHATSAPP_NUMBER }}","body":"={{ '⏰ Recordatorio: en 1 hora tenés turno con ' + $json.medico_nombre + '. Te esperamos! 🏥' }}"},"credentials":{"twilioApi":{"id":"aE31QgQsM9spWb5a","name":"Consultorio - Twilio API"}}},{"id":"update-24h-flag","name":"PG - Marcar Recordatorio 24h","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1250,150],"parameters":{"operation":"executeQuery","query":"UPDATE turnos SET recordatorio_24h_enviado = TRUE, updated_at = NOW() WHERE id = $1;","additionalFields":{"queryParams":"={{ [$json.id] }}"}},"credentials":{"postgres":{"id":"LndsAFMcQsVltuyi","name":"Consultorio - PostgreSQL"}}},{"id":"update-1h-flag","name":"PG - Marcar Recordatorio 1h","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1250,450],"parameters":{"operation":"executeQuery","query":"UPDATE turnos SET recordatorio_1h_enviado = TRUE, updated_at = NOW() WHERE id = $1;","additionalFields":{"queryParams":"={{ [$json.id] }}"}},"credentials":{"postgres":{"id":"LndsAFMcQsVltuyi","name":"Consultorio - PostgreSQL"}}},{"id":"log-recordatorios","name":"PG - Log de Envío","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1250,700],"parameters":{"operation":"executeQuery","query":"INSERT INTO workflow_logs (workflow_id, execution_id, nivel, mensaje, metadata)\nVALUES ('workflow-03', $1, 'info', $2, $3);","additionalFields":{"queryParams":"={{ [$json.executionId, 'Recordatorios procesados: ' + $items().length + ' turnos', JSON.stringify({turnos: $items().length})] }}"}},"credentials":{"postgres":{"id":"LndsAFMcQsVltuyi","name":"Consultorio - PostgreSQL"}}}],"connections":{"Cron - Cada Hora":{"main":[[{"node":"PG - Turnos Próximas 24hs","type":"main","index":0},{"node":"PG - Turnos Próxima 1h","type":"main","index":0}]]},"PG - Turnos Próximas 24hs":{"main":[[{"node":"Combinar Recordatorios","type":"main","index":0}]]},"PG - Turnos Próxima 1h":{"main":[[{"node":"Combinar Recordatorios","type":"main","index":1}]]},"Combinar Recordatorios":{"main":[[{"node":"¿Hay turnos?","type":"main","index":0}]]},"¿Hay turnos?":{"main":[[{"node":"Twilio - Recordatorio 24h","type":"main","index":0}],[]]},"Twilio - Recordatorio 24h":{"main":[[{"node":"PG - Marcar Recordatorio 24h","type":"main","index":0}]]},"Twilio - Recordatorio 1h":{"main":[[{"node":"PG - Marcar Recordatorio 1h","type":"main","index":0}]]},"PG - Marcar Recordatorio 24h":{"main":[[{"node":"PG - Log de Envío","type":"main","index":0}]]},"PG - Marcar Recordatorio 1h":{"main":[[{"node":"PG - Log de Envío","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":null,"versionId":"3f1a54c4-a3c4-4fb7-88c5-c5af16e224fb","activeVersionId":"3f1a54c4-a3c4-4fb7-88c5-c5af16e224fb","versionCounter":14,"triggerCount":1,"shared":[{"updatedAt":"2026-05-16T18:04:07.778Z","createdAt":"2026-05-16T18:04:07.778Z","role":"workflow:owner","workflowId":"RBfR8UYpm79FamiQ","projectId":"jiaWx4AaJK5LGZ9r","project":{"updatedAt":"2026-04-26T02:53:48.312Z","createdAt":"2026-04-26T02:49:56.388Z","id":"jiaWx4AaJK5LGZ9r","name":"Leonardo Spedaletti <spedalettileonardo@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"8274b19f-2f1f-4df7-be3d-d02d67d238d1"}}],"tags":[],"activeVersion":{"updatedAt":"2026-05-21T00:10:41.714Z","createdAt":"2026-05-21T00:10:41.714Z","versionId":"3f1a54c4-a3c4-4fb7-88c5-c5af16e224fb","workflowId":"RBfR8UYpm79FamiQ","nodes":[{"id":"cron-trigger","name":"Cron - Cada Hora","type":"n8n-nodes-base.cron","typeVersion":2,"position":[0,300],"parameters":{"triggerTimes":{"item":[{"mode":"everyHour","hour":0,"minute":0}]}}},{"id":"query-reminders-24h","name":"PG - Turnos Próximas 24hs","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[250,200],"parameters":{"operation":"executeQuery","query":"SELECT t.id, t.fecha_hora, t.estado,\n  p.id as paciente_id, p.nombre, p.apellido, p.telefono,\n  m.nombre as medico_nombre\nFROM turnos t\nJOIN pacientes p ON p.id = t.paciente_id\nJOIN medicos m ON m.id = t.medico_id\nWHERE t.estado IN ('pendiente', 'confirmada')\n  AND t.recordatorio_24h_enviado = FALSE\n  AND t.fecha_hora BETWEEN NOW() AND NOW() + INTERVAL '24 hours'\nORDER BY t.fecha_hora;"},"credentials":{"postgres":{"id":"LndsAFMcQsVltuyi","name":"Consultorio - PostgreSQL"}}},{"id":"query-reminders-1h","name":"PG - Turnos Próxima 1h","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[250,400],"parameters":{"operation":"executeQuery","query":"SELECT t.id, t.fecha_hora, t.estado,\n  p.id as paciente_id, p.nombre, p.apellido, p.telefono,\n  m.nombre as medico_nombre\nFROM turnos t\nJOIN pacientes p ON p.id = t.paciente_id\nJOIN medicos m ON m.id = t.medico_id\nWHERE t.estado IN ('pendiente', 'confirmada')\n  AND t.recordatorio_1h_enviado = FALSE\n  AND t.fecha_hora BETWEEN NOW() AND NOW() + INTERVAL '1 hour'\nORDER BY t.fecha_hora;"},"credentials":{"postgres":{"id":"LndsAFMcQsVltuyi","name":"Consultorio - PostgreSQL"}}},{"id":"merge-reminders","name":"Combinar Recordatorios","type":"n8n-nodes-base.merge","typeVersion":2,"position":[500,300],"parameters":{"mode":"append"}},{"id":"is-empty-check","name":"¿Hay turnos?","type":"n8n-nodes-base.if","typeVersion":2,"position":[750,300],"parameters":{"conditions":{"number":[{"value1":"={{ $items().length }}","operation":"larger","value2":0}]}}},{"id":"send-24h-reminder","name":"Twilio - Recordatorio 24h","type":"n8n-nodes-base.twilio","typeVersion":2,"position":[1000,150],"parameters":{"resource":"message","operation":"create","to":"={{ 'whatsapp:+549' + $json.telefono }}","from":"{{ $env.TWILIO_WHATSAPP_NUMBER }}","body":"={{ '👋 Hola ' + $json.nombre + '! Te recordamos que tenés un turno mañana ' + $json.fecha_hora + ' con ' + $json.medico_nombre + '. Respondé CONFIRMAR para confirmar tu asistencia. ¡Gracias! 😊' }}"},"credentials":{"twilioApi":{"id":"aE31QgQsM9spWb5a","name":"Consultorio - Twilio API"}}},{"id":"send-1h-reminder","name":"Twilio - Recordatorio 1h","type":"n8n-nodes-base.twilio","typeVersion":2,"position":[1000,450],"parameters":{"resource":"message","operation":"create","to":"={{ 'whatsapp:+549' + $json.telefono }}","from":"{{ $env.TWILIO_WHATSAPP_NUMBER }}","body":"={{ '⏰ Recordatorio: en 1 hora tenés turno con ' + $json.medico_nombre + '. Te esperamos! 🏥' }}"},"credentials":{"twilioApi":{"id":"aE31QgQsM9spWb5a","name":"Consultorio - Twilio API"}}},{"id":"update-24h-flag","name":"PG - Marcar Recordatorio 24h","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1250,150],"parameters":{"operation":"executeQuery","query":"UPDATE turnos SET recordatorio_24h_enviado = TRUE, updated_at = NOW() WHERE id = $1;","additionalFields":{"queryParams":"={{ [$json.id] }}"}},"credentials":{"postgres":{"id":"LndsAFMcQsVltuyi","name":"Consultorio - PostgreSQL"}}},{"id":"update-1h-flag","name":"PG - Marcar Recordatorio 1h","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1250,450],"parameters":{"operation":"executeQuery","query":"UPDATE turnos SET recordatorio_1h_enviado = TRUE, updated_at = NOW() WHERE id = $1;","additionalFields":{"queryParams":"={{ [$json.id] }}"}},"credentials":{"postgres":{"id":"LndsAFMcQsVltuyi","name":"Consultorio - PostgreSQL"}}},{"id":"log-recordatorios","name":"PG - Log de Envío","type":"n8n-nodes-base.postgres","typeVersion":2,"position":[1250,700],"parameters":{"operation":"executeQuery","query":"INSERT INTO workflow_logs (workflow_id, execution_id, nivel, mensaje, metadata)\nVALUES ('workflow-03', $1, 'info', $2, $3);","additionalFields":{"queryParams":"={{ [$json.executionId, 'Recordatorios procesados: ' + $items().length + ' turnos', JSON.stringify({turnos: $items().length})] }}"}},"credentials":{"postgres":{"id":"LndsAFMcQsVltuyi","name":"Consultorio - PostgreSQL"}}}],"connections":{"Cron - Cada Hora":{"main":[[{"node":"PG - Turnos Próximas 24hs","type":"main","index":0},{"node":"PG - Turnos Próxima 1h","type":"main","index":0}]]},"PG - Turnos Próximas 24hs":{"main":[[{"node":"Combinar Recordatorios","type":"main","index":0}]]},"PG - Turnos Próxima 1h":{"main":[[{"node":"Combinar Recordatorios","type":"main","index":1}]]},"Combinar Recordatorios":{"main":[[{"node":"¿Hay turnos?","type":"main","index":0}]]},"¿Hay turnos?":{"main":[[{"node":"Twilio - Recordatorio 24h","type":"main","index":0}],[]]},"Twilio - Recordatorio 24h":{"main":[[{"node":"PG - Marcar Recordatorio 24h","type":"main","index":0}]]},"Twilio - Recordatorio 1h":{"main":[[{"node":"PG - Marcar Recordatorio 1h","type":"main","index":0}]]},"PG - Marcar Recordatorio 24h":{"main":[[{"node":"PG - Log de Envío","type":"main","index":0}]]},"PG - Marcar Recordatorio 1h":{"main":[[{"node":"PG - Log de Envío","type":"main","index":0}]]}},"authors":"Leonardo Spedaletti","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-05-21T00:10:41.825Z","id":9,"workflowId":"RBfR8UYpm79FamiQ","versionId":"3f1a54c4-a3c4-4fb7-88c5-c5af16e224fb","event":"activated","userId":"8274b19f-2f1f-4df7-be3d-d02d67d238d1"}]}}