n8n-workflows/current/workflow-01-agent.json
{
  "name": "01 - WhatsApp Inbound + Triaje IA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "consultorio-inbound",
        "options": {}
      },
      "name": "Webhook - Twilio WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "webhookId": "b9e6ab70-db5d-4ad3-b52e-50460c2025c9"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.body.Body }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty",
                "name": "filter.operator.isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Validar Mensaje",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        256,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "phone",
              "value": "={{ $json.body.From.replace('whatsapp:', '') }}",
              "type": "string"
            },
            {
              "name": "message",
              "value": "={{ $json.body.Body }}",
              "type": "string"
            },
            {
              "name": "profileName",
              "value": "={{ $json.body.ProfileName || 'Paciente' }}",
              "type": "string"
            },
            {
              "name": "twilioSid",
              "value": "={{ $json.body.SmsSid }}",
              "type": "string"
            },
            {
              "name": "toNumber",
              "value": "={{ $json.body.To }}",
              "type": "string"
            },
            {
              "name": "fromNumber",
              "value": "={{ $json.body.From }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Extraer Datos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pacientes (telefono, nombre, apellido, fuente, consentimiento_whatsapp) VALUES ($1, $2, '', 'whatsapp', TRUE) ON CONFLICT (telefono) DO UPDATE SET updated_at = NOW() RETURNING id, telefono, nombre, apellido, email, tags, canal_preferido;",
        "options": {}
      },
      "name": "Obtener o Crear Paciente",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        768,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT t.id, t.fecha_hora, t.motivo, t.estado, t.tipo_consulta, m.nombre AS medico_nombre, m.especialidad FROM turnos t JOIN medicos m ON t.medico_id = m.id WHERE t.paciente_id = $1 AND t.fecha_hora >= CURRENT_DATE ORDER BY t.fecha_hora LIMIT 5",
        "additionalFields": {
          "queryParams": "={{ [$(\"Obtener o Crear Paciente\").first().json.id] }}"
        },
        "options": {}
      },
      "name": "Consultar Turnos del Paciente",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1024,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT r.id, r.medicamento, r.dosis, r.indicaciones, r.created_at, r.estado FROM recetas r WHERE r.paciente_id = $1 ORDER BY r.fecha_emision DESC LIMIT 10",
        "additionalFields": {
          "queryParams": "={{ [$(\"Obtener o Crear Paciente\").first().json.id] }}"
        },
        "options": {}
      },
      "name": "Consultar Recetas Activas",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1280,
        300
      ]
    },
    {
      "parameters": {
        "code": "// Obtener datos del paciente\nconst paciente = $(\"Obtener o Crear Paciente\").first().json;\nconst turnos = $(\"Consultar Turnos del Paciente\").all().map(i => i.json);\nconst recetas = $(\"Consultar Recetas Activas\").all().map(i => i.json).filter(r => r.estado === 'activa' || r.estado === 'pendiente');\nconst extraer = $(\"Extraer Datos\").first().json;\n\nconst esc = (s) => (s || '').replace(/'/g, \"''\");\n\nconst turnosTexto = turnos.length > 0\n  ? turnos.map(t => `- ${new Date(t.fecha_hora).toLocaleDateString(\"es-AR\", {weekday: \"long\", day: \"numeric\", month: \"long\"})} con Dr. ${t.medico_nombre} (${t.motivo || 'consulta'})`).join('\\n')\n  : 'No tiene turnos próximos.';\n\nconst recetasTexto = recetas.length > 0\n  ? recetas.map(r => `- ${r.medicamento} ${r.dosis || ''}`).join('\\n')\n  : 'No tiene recetas activas.';\n\nconst fechaActual = new Date().toLocaleDateString('es-AR', { year: 'numeric', month: 'long', day: 'numeric' });\n\n// TRIAGE system prompt - clasifica y deriva\nconst triajePrompt = `Sos el asistente de atención inicial del Consultorio Médico. Atendés pacientes por WhatsApp.\n\nFecha actual: ${fechaActual}\n\n=== DATOS DEL PACIENTE ===\nNombre: ${paciente.nombre || extraer.profileName}\nTeléfono: ${paciente.telefono}\n\n=== TURNOS PRÓXIMOS ===\n${turnosTexto}\n\n=== RECETAS ACTIVAS ===\n${recetasTexto}\n\n=== INSTRUCCIONES ===\nRespondé en español argentino, con tono cálido y profesional. Sé breve.\n\nFUNCIONES:\n- Saludar y responder info general (horarios: Lun-Vie 8-20hs, Sáb 9-13hs)\n- Informar turnos próximos y recetas activas del paciente\n- Derivar urgencias (decí \"Si es una emergencia, dirigite a la guardia o llamá al 107\")\n- Si el paciente QUIERE crear/cancelar/modificar/consultar un turno: decile \"Dale, te paso con el área de turnos\" y agregÁ al final: ###HANDOFF###\\n{\"destino\":\"agenda\"}\\n###FIN###\n- Si el paciente pregunta por recetas o consultas clínicas: decile \"Te paso con el área de recetas\" y agregÁ: ###HANDOFF###\\n{\"destino\":\"clinico\"}\\n###FIN###\n- Para TODO lo que no sea saludo/info general/urgencia, usÁ HANDOFF\n- NO inventes diagnósticos ni recetes medicamentos`;\n\n// Pasar también datos estructurados para los sub-agentes\nreturn [{\n  paciente: { id: paciente.id, telefono: paciente.telefono, nombre: paciente.nombre || extraer.profileName, apellido: paciente.apellido || '' },\n  turnosProximos: turnos.map(t => ({ id: t.id, fecha: t.fecha_hora, medico: t.medico_nombre, especialidad: t.especialidad, motivo: t.motivo, estado: t.estado })),\n  recetasActivas: recetas.map(r => ({ id: r.id, medicamento: r.medicamento, dosis: r.dosis, indicaciones: r.indicaciones, estado: r.estado })),\n  phone: extraer.phone,\n  message: extraer.message,\n  profileName: extraer.profileName,\n  twilioSid: extraer.twilioSid,\n  toNumber: extraer.toNumber,\n  fromNumber: extraer.fromNumber,\n  systemPrompt: triajePrompt\n}];"
      },
      "name": "Construir Contexto Paciente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1536,
        300
      ]
    },
    {
      "parameters": {
        "model": "mistral",
        "baseUrl": "http://ollama:11434",
        "options": {
          "temperature": 0.3
        }
      },
      "name": "Ollama - Triaje",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1800,
        80
      ]
    },
    {
      "parameters": {
        "sessionKey": "={{ $('Extraer Datos').first().json.phone }}",
        "contextWindowLength": 10
      },
      "name": "Postgres Memory - Triaje",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgres",
      "typeVersion": 1,
      "position": [
        1800,
        520
      ]
    },
    {
      "parameters": {
        "agentType": "conversational",
        "systemMessage": "={{ $json.systemPrompt }}",
        "options": {}
      },
      "name": "Triaje Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        2100,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "agentOutput",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Extraer Output Triaje",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2370,
        300
      ]
    },
    {
      "parameters": {
        "code": "// Parsear output del Triaje Agent para detectar HANDOFF\nconst rawText = $input.first().json.agentOutput || $input.first().json.output || '';\nconst ctx = $(\"Construir Contexto Paciente\").first().json;\n\n// Buscar handoff marker\nconst handoffMatch = rawText.match(/###HANDOFF###\\n([\\s\\S]*?)\\n###FIN###/);\nlet destino = null;\nlet textoLimpio = rawText;\n\nif (handoffMatch) {\n  try {\n    const parsed = JSON.parse(handoffMatch[1].trim());\n    destino = parsed.destino;\n    textoLimpio = rawText.replace(/###HANDOFF###[\\s\\S]*?###FIN###/, '').trim();\n  } catch (e) { destino = null; }\n}\n\nreturn [{\n  responseText: textoLimpio,\n  tieneHandoff: destino !== null,\n  destinoHandoff: destino,\n  // Preservar datos para downstream\n  paciente: ctx.paciente,\n  phone: ctx.phone,\n  message: ctx.message,\n  toNumber: ctx.toNumber,\n  fromNumber: ctx.fromNumber,\n  profileName: ctx.profileName,\n  twilioSid: ctx.twilioSid,\n  turnosProximos: ctx.turnosProximos\n}];"
      },
      "name": "Parsear Handoff",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2600,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.tieneHandoff }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Hay Handoff?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2850,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.destinoHandoff }}",
              "rightValue": "agenda",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Destino Handoff?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3100,
        300
      ]
    },
    {
      "parameters": {
        "code": "// Construir system prompt para el Agenda Agent\nconst ctx = $(\"Construir Contexto Paciente\").first().json;\nconst paciente = ctx.paciente;\nconst turnos = ctx.turnosProximos || [];\n\nconst turnosTexto = turnos.length > 0\n  ? turnos.map(t => `- ${new Date(t.fecha).toLocaleDateString(\"es-AR\", {weekday: \"long\", day: \"numeric\", month: \"long\"})} con Dr. ${t.medico} (${t.motivo || 'consulta'})`).join('\\n')\n  : 'No tiene turnos próximos.';\n\nconst fechaActual = new Date().toLocaleDateString('es-AR', { year: 'numeric', month: 'long', day: 'numeric' });\n\nconst agendaPrompt = `Sos el especialista en turnos del Consultorio Médico.\n\nFecha actual: ${fechaActual}\n\n=== DATOS DEL PACIENTE ===\nNombre: ${paciente.nombre}\nTeléfono: ${paciente.telefono}\n\n=== TURNOS PRÓXIMOS ===\n${turnosTexto}\n\n=== INSTRUCCIONES ===\nRespondé en español argentino, cálido y breve.\n\nSOLO podés gestionar turnos:\n- CREAR: verificá disponibilidad (horarios: Lun-Vie 8-20hs, Sáb 9-13hs)\n- CANCELAR: pedí confirmación antes de cancelar\n- MODIFICAR: cancelá el turno actual y creá uno nuevo\n- CONSULTAR: mostrá los turnos próximos del paciente\n\nNO respondas sobre:\n- Recetas o medicamentos\n- Diagnósticos o consultas clínicas\n- Precios u obra social\n\nPara acciones que requieran cambios en DB:\n###ACCION###\\n{\"tipo\":\"crear_turno|cancelar_turno\",\"data\":{...}}\\n###FIN###`;\n\n// Merge incoming data with new system prompt\nconst input = $input.first().json;\nreturn [{ ...input, systemPrompt: agendaPrompt, subAgente: 'agenda' }];"
      },
      "name": "Preparar Prompt Agenda",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2850,
        100
      ]
    },
    {
      "parameters": {
        "model": "mistral",
        "baseUrl": "http://ollama:11434",
        "options": {
          "temperature": 0.3
        }
      },
      "name": "Ollama - Agenda",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        3120,
        80
      ]
    },
    {
      "parameters": {
        "sessionKey": "={{ $('Extraer Datos').first().json.phone }}",
        "contextWindowLength": 10
      },
      "name": "Postgres Memory - Agenda",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgres",
      "typeVersion": 1,
      "position": [
        3120,
        520
      ]
    },
    {
      "parameters": {
        "agentType": "conversational",
        "systemMessage": "={{ $json.systemPrompt }}",
        "options": {}
      },
      "name": "Agenda Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        3390,
        100
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "agentOutput",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "name": "subAgente",
              "value": "=agenda",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Extraer Output Agenda",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3660,
        100
      ]
    },
    {
      "parameters": {
        "code": "// Construir system prompt para el Clinico Agent\nconst ctx = $(\"Construir Contexto Paciente\").first().json;\nconst paciente = ctx.paciente;\nconst recetas = ctx.recetasActivas || [];\n\nconst recetasTexto = recetas.length > 0\n  ? recetas.map(r => `- ${r.medicamento} ${r.dosis || ''} - ${r.indicaciones || 'Sin indicaciones'}`).join('\\n')\n  : 'No tiene recetas activas.';\n\nconst fechaActual = new Date().toLocaleDateString('es-AR', { year: 'numeric', month: 'long', day: 'numeric' });\n\nconst clinicoPrompt = `Sos el especialista en recetas del Consultorio Médico.\n\nFecha actual: ${fechaActual}\n\n=== DATOS DEL PACIENTE ===\nNombre: ${paciente.nombre}\nTeléfono: ${paciente.telefono}\n\n=== RECETAS ACTIVAS ===\n${recetasTexto}\n\n=== INSTRUCCIONES ===\nRespondé en español argentino, cálido y breve.\n\nSOLO podés gestionar consultas sobre:\n- Recetas activas del paciente (informar detalles)\n- Renovación de recetas existentes\n- Preguntas sobre medicamentos (dosis, indicaciones)\n- Recordar al paciente que las recetas nuevas deben ser autorizadas por el médico\n\nNO respondas sobre:\n- Diagnósticos médicos\n- Creación/cancelación de turnos\n- Precios u obra social\n\nPara acciones que requieran cambios en DB:\n###ACCION###\\n{\"tipo\":\"renovar_receta|consultar_receta\",\"data\":{...}}\\n###FIN###`;\n\n// Merge incoming data with new system prompt\nconst input = $input.first().json;\nreturn [{ ...input, systemPrompt: clinicoPrompt, subAgente: 'clinico' }];"
      },
      "name": "Preparar Prompt Clinico",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2850,
        700
      ]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "name": "Merger",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        3100,
        300
      ]
    },
    {
      "parameters": {
        "code": "// Parsear y preparar respuesta final\nconst rawText = $input.first().json.agentOutput || $input.first().json.output || '';\nconst ctx = $(\"Construir Contexto Paciente\").first().json;\nconst pacienteId = ctx.paciente?.id || $(\"Obtener o Crear Paciente\").first().json.id;\nconst extraer = $(\"Extraer Datos\").first().json;\n\n// Helper para escapar strings\nconst esc = (s) => {\n  if (!s) return '';\n  return String(s)\n    .replace(/'/g, \"''\")\n    .replace(/\\\\/g, '\\\\\\\\')\n    .replace(/\\0/g, '')\n    .replace(/\\x1a/g, '');\n};\n\n// Determinar sub-agente\nconst subAgente = $input.first().json.subAgente || 'triaje';\n\n// Buscar acción estructurada\nconst actionMatch = rawText.match(/###ACCION###\\n([\\s\\S]*?)\\n###FIN###/);\nlet accion = null;\nlet textoLimpio = rawText;\n\nif (actionMatch) {\n  try {\n    accion = JSON.parse(actionMatch[1].trim());\n    textoLimpio = rawText.replace(/###ACCION###[\\s\\S]*?###FIN###/, '').trim();\n  } catch (e) { accion = null; }\n}\n\n// SQL para guardar conversación\nconst sqlGuardar = `INSERT INTO mensajes (conversacion_id, rol, contenido, tipo, twilio_sid, n8n_execution_id) VALUES ((SELECT id FROM conversaciones WHERE paciente_id = ${pacienteId} AND estado = 'activa' LIMIT 1), 'paciente', '${esc(extraer.message)}', 'texto', '${esc(extraer.twilioSid)}', '${$execution.id}'); INSERT INTO mensajes (conversacion_id, rol, contenido, tipo, n8n_execution_id) VALUES ((SELECT id FROM conversaciones WHERE paciente_id = ${pacienteId} AND estado = 'activa' LIMIT 1), 'asistente', '${esc(textoLimpio)}', 'texto', '${$execution.id}');`;\n\n// SQL para log (con sub_agente en nivel)\nconst sqlLog = `INSERT INTO workflow_logs (workflow_id, workflow_name, execution_id, nivel, mensaje) VALUES ('${$execution.id}', 'WhatsApp Agent', '${$execution.id}', '${esc(subAgente)}', '${esc('Sub-agente: ' + subAgente + ' | Paciente: ' + (pacienteId || '') + ' | ' + textoLimpio.substring(0, 100))}');`;\n\n// SQL para registrar acción\nlet sqlAccion = null;\nif (accion) {\n  sqlAccion = `INSERT INTO workflow_logs (workflow_id, workflow_name, execution_id, nivel, mensaje) VALUES ('${$execution.id}', 'WhatsApp Agent', '${$execution.id}', '${esc(subAgente + '_accion')}', '${esc(JSON.stringify(accion))}');`;\n}\n\nconst responseText = textoLimpio || $input.first().json.responseText || 'Gracias por comunicarte con el consultorio. Te responderemos a la brevedad.';\n\nreturn [{\n  responseText: responseText,\n  subAgente: subAgente,\n  tieneAccion: accion !== null,\n  accionTipo: accion ? accion.tipo : null,\n  accionData: accion ? accion.data : null,\n  sqlGuardar: sqlGuardar,\n  sqlLog: sqlLog,\n  sqlAccion: sqlAccion,\n  phone: 'whatsapp:' + extraer.phone,\n  fromNumber: extraer.fromNumber,\n  toNumber: extraer.toNumber,\n  profileName: extraer.profileName,\n  pacienteId: pacienteId\n}];"
      },
      "name": "Parsear y Preparar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3370,
        300
      ]
    },
    {
      "parameters": {
        "model": "mistral",
        "baseUrl": "http://ollama:11434",
        "options": {
          "temperature": 0.3
        }
      },
      "name": "Ollama - Clinico",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        3120,
        880
      ]
    },
    {
      "parameters": {
        "sessionKey": "={{ $('Extraer Datos').first().json.phone }}",
        "contextWindowLength": 10
      },
      "name": "Postgres Memory - Clinico",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgres",
      "typeVersion": 1,
      "position": [
        3120,
        1120
      ]
    },
    {
      "parameters": {
        "agentType": "conversational",
        "systemMessage": "={{ $json.systemPrompt }}",
        "options": {}
      },
      "name": "Clinico Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        3390,
        700
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "agentOutput",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "name": "subAgente",
              "value": "=clinico",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Extraer Output Clinico",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3660,
        700
      ]
    },
    {
      "parameters": {
        "url": "https://api.twilio.com/2010-04-01/Accounts/{{ $env.TWILIO_ACCOUNT_SID }}/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "method": "POST",
        "options": {},
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "From",
              "value": "={{ $json.fromNumber }}"
            },
            {
              "name": "To",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "Body",
              "value": "={{ $json.responseText }}"
            }
          ]
        }
      },
      "name": "Twilio - Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3640,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.tieneAccion }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Hay Accion?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3910,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sqlAccion }}",
        "options": {}
      },
      "name": "Registrar Accion Pendiente",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4160,
        100
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sqlGuardar }}",
        "options": {}
      },
      "name": "Guardar Conversacion en DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4160,
        350
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sqlLog }}",
        "options": {}
      },
      "name": "Log a PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4160,
        550
      ]
    }
  ],
  "connections": {
    "Webhook - Twilio WhatsApp": {
      "main": [
        [
          {
            "node": "Validar Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Mensaje": {
      "main": [
        [
          {
            "node": "Extraer Datos",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Extraer Datos": {
      "main": [
        [
          {
            "node": "Obtener o Crear Paciente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener o Crear Paciente": {
      "main": [
        [
          {
            "node": "Consultar Turnos del Paciente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Turnos del Paciente": {
      "main": [
        [
          {
            "node": "Consultar Recetas Activas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Recetas Activas": {
      "main": [
        [
          {
            "node": "Construir Contexto Paciente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir Contexto Paciente": {
      "main": [
        [
          {
            "node": "Triaje Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama - Triaje": {
      "ai_languageModel": [
        [
          {
            "node": "Triaje Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Memory - Triaje": {
      "ai_memory": [
        [
          {
            "node": "Triaje Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Triaje Agent": {
      "main": [
        [
          {
            "node": "Extraer Output Triaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Output Triaje": {
      "main": [
        [
          {
            "node": "Parsear Handoff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Handoff": {
      "main": [
        [
          {
            "node": "Hay Handoff?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hay Handoff?": {
      "main": [
        [
          {
            "node": "Destino Handoff?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Destino Handoff?": {
      "main": [
        [
          {
            "node": "Preparar Prompt Agenda",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Preparar Prompt Clinico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Prompt Agenda": {
      "main": [
        [
          {
            "node": "Agenda Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama - Agenda": {
      "ai_languageModel": [
        [
          {
            "node": "Agenda Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Memory - Agenda": {
      "ai_memory": [
        [
          {
            "node": "Agenda Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Agenda Agent": {
      "main": [
        [
          {
            "node": "Extraer Output Agenda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Output Agenda": {
      "main": [
        [
          {
            "node": "Merger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merger": {
      "main": [
        [
          {
            "node": "Parsear y Preparar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear y Preparar": {
      "main": [
        [
          {
            "node": "Twilio - Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio - Enviar WhatsApp": {
      "main": [
        [
          {
            "node": "Hay Accion?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hay Accion?": {
      "main": [
        [
          {
            "node": "Registrar Accion Pendiente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guardar Conversacion en DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Accion Pendiente": {
      "main": [
        [
          {
            "node": "Guardar Conversacion en DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Conversacion en DB": {
      "main": [
        [
          {
            "node": "Log a PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Prompt Clinico": {
      "main": [
        [
          {
            "node": "Clinico Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama - Clinico": {
      "ai_languageModel": [
        [
          {
            "node": "Clinico Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Memory - Clinico": {
      "ai_memory": [
        [
          {
            "node": "Clinico Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Clinico Agent": {
      "main": [
        [
          {
            "node": "Extraer Output Clinico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Output Clinico": {
      "main": [
        [
          {
            "node": "Merger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}