n8n-workflows/current/workflow-06-export.json
{
  "name": "06 - Recetas y Renovaciones",
  "nodes": [
    {
      "name": "Webhook - Solicitud Receta",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "receta-solicitar",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "f2a5454f-6c63-45a6-99c1-d37e718e742d",
      "webhookId": "6736e0dd-840b-4297-9f72-b82fb613bb45"
    },
    {
      "name": "Extraer Datos Solicitud",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        250,
        300
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "phone",
              "value": "={{ $json.body.phone || $json.body.From.replace('whatsapp:', '') }}",
              "type": "string"
            },
            {
              "name": "message",
              "value": "={{ $json.body.message || $json.body.Body }}",
              "type": "string"
            },
            {
              "name": "profileName",
              "value": "={{ $json.body.profileName || $json.body.ProfileName || 'Paciente' }}",
              "type": "string"
            },
            {
              "name": "fromNumber",
              "value": "={{ $json.body.fromNumber || $json.body.From }}",
              "type": "string"
            },
            {
              "name": "toNumber",
              "value": "={{ $json.body.toNumber || $json.body.To }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "76e7c70d-9fd0-494b-93fc-77f8d2501f86"
    },
    {
      "name": "Ollama - Analizar Solicitud",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        500,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral\",\n  \"stream\": false,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Analizá la solicitud de receta del paciente. Respondé SOLO con JSON válido, sin explicación:\\n\\n{\\n  \\\"es_renovacion\\\": true o false,\\n  \\\"medicamento\\\": \\\"nombre del medicamento o null\\\",\\n  \\\"dosis\\\": \\\"dosis o null\\\",\\n  \\\"frecuencia\\\": \\\"frecuencia o null\\\",\\n  \\\"tipo\\\": \\\"renovacion\\\" o \\\"nueva\\\" o \\\"consulta\\\"\\n}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Mensaje del paciente: {{ $('Extraer Datos Solicitud').first().json.message }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "0c0c5547-f243-40ca-9eb4-87dde61393a6"
    },
    {
      "name": "Extraer JSON Receta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        300
      ],
      "parameters": {
        "jsCode": "const ollamaResponse = $input.first().json.message.content;\n\nlet recetaData;\ntry {\n  recetaData = JSON.parse(ollamaResponse);\n} catch (e) {\n  const match = ollamaResponse.match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    try {\n      recetaData = JSON.parse(match[0]);\n    } catch (e2) {\n      recetaData = { es_renovacion: false, medicamento: null, dosis: null, frecuencia: null, tipo: 'consulta' };\n    }\n  } else {\n    recetaData = { es_renovacion: false, medicamento: null, dosis: null, frecuencia: null, tipo: 'consulta' };\n  }\n}\n\nreturn [{\n  json: {\n    es_renovacion: recetaData.es_renovacion === true,\n    medicamento: recetaData.medicamento || null,\n    dosis: recetaData.dosis || null,\n    frecuencia: recetaData.frecuencia || null,\n    tipo: recetaData.tipo || 'consulta',\n    phone: $('Extraer Datos Solicitud').first().json.phone,\n    profileName: $('Extraer Datos Solicitud').first().json.profileName,\n    fromNumber: $('Extraer Datos Solicitud').first().json.fromNumber,\n    toNumber: $('Extraer Datos Solicitud').first().json.toNumber\n  }\n}];"
      },
      "id": "3cab189f-6eca-4e70-bafd-b880f27b0eea"
    },
    {
      "name": "Es Renovacion?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1000,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.es_renovacion }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equal",
                "name": "filter.operator.equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9ddf7f13-3915-4ec2-b5e5-576e626a7e61"
    },
    {
      "name": "PG - Buscar Receta Activa",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1250,
        150
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT r.*, p.nombre, p.apellido FROM recetas r JOIN pacientes p ON p.id = r.paciente_id WHERE p.telefono = $1 AND r.estado = 'activa' AND r.medicamento ILIKE '%' || $2 || '%' ORDER BY r.created_at DESC LIMIT 1;",
        "additionalFields": {
          "queryParams": "={{ [$json.phone, $json.medicamento || ''] }}"
        },
        "options": {}
      },
      "id": "a39c0ddf-68b3-4d05-9b41-fd9479ff1645",
      "credentials": {
        "postgres": {
          "id": "LndsAFMcQsVltuyi",
          "name": "Consultorio - PostgreSQL"
        }
      }
    },
    {
      "name": "PG - Crear Receta Renovacion",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1500,
        150
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO recetas (paciente_id, medico_id, medicamento, dosis, frecuencia, duracion, indicaciones, estado, receta_anterior_id) VALUES ((SELECT id FROM pacientes WHERE telefono = $1 LIMIT 1), '00000000-0000-0000-0000-000000000001', $2, $3, $4, '30 dias', 'Renovacion automatica. Misma indicacion que receta anterior.', 'pendiente', $5) RETURNING id;",
        "additionalFields": {
          "queryParams": "={{ [$('Extraer JSON Receta').first().json.phone, $('Extraer JSON Receta').first().json.medicamento, $('Extraer JSON Receta').first().json.dosis || '', $('Extraer JSON Receta').first().json.frecuencia || 'segun indicacion medica', $json.id || ''] }}"
        },
        "options": {}
      },
      "id": "8e2f9a26-8399-4033-b2f7-b91fc89f08e3",
      "credentials": {
        "postgres": {
          "id": "LndsAFMcQsVltuyi",
          "name": "Consultorio - PostgreSQL"
        }
      }
    },
    {
      "name": "Twilio - Confirmar Renovacion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1750,
        150
      ],
      "parameters": {
        "options": {},
        "url": "https://api.twilio.com/2010-04-01/Accounts/TWILIO_ACCOUNT_SID_PLACEHOLDER/Messages.json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "={{ $('Extraer JSON Receta').first().json.fromNumber || 'whatsapp:' + $('Extraer JSON Receta').first().json.phone }}"
            },
            {
              "name": "From",
              "value": "={{ $('Extraer JSON Receta').first().json.toNumber }}"
            },
            {
              "name": "Body",
              "value": "=Hola {{ $('Extraer JSON Receta').first().json.profileName }}! Renovamos tu receta de {{ $('Extraer JSON Receta').first().json.medicamento }}. El medico la va a revisar y te la enviamos por WhatsApp en cuanto este lista. Saludos!"
            }
          ]
        },
        "method": "POST",
        "authentication": "genericCredentialType",
        "sendBody": true,
        "genericAuthType": "httpBasicAuth"
      },
      "id": "f671381f-3d10-490f-a617-02dc39f8a73e",
      "credentials": {
        "httpBasicAuth": {
          "id": "cWihp3akRY6cYwIM",
          "name": "Consultorio - Twilio Basic Auth"
        }
      }
    },
    {
      "name": "Notificar al Medico x Receta Nueva",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1250,
        480
      ],
      "parameters": {
        "options": {},
        "url": "https://api.twilio.com/2010-04-01/Accounts/TWILIO_ACCOUNT_SID_PLACEHOLDER/Messages.json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "whatsapp:+5491155550000"
            },
            {
              "name": "From",
              "value": "={{ $('Extraer JSON Receta').first().json.toNumber }}"
            },
            {
              "name": "Body",
              "value": "=Solicitud de receta NUEVA de {{ $('Extraer JSON Receta').first().json.profileName }}: {{ $('Extraer JSON Receta').first().json.medicamento || 'sin especificar' }}. Revisa el dashboard para autorizar."
            }
          ]
        },
        "method": "POST",
        "authentication": "genericCredentialType",
        "sendBody": true,
        "genericAuthType": "httpBasicAuth"
      },
      "id": "89042b3c-5a2a-433b-aa0b-a99fbf3735fb",
      "credentials": {
        "httpBasicAuth": {
          "id": "cWihp3akRY6cYwIM",
          "name": "Consultorio - Twilio Basic Auth"
        }
      }
    },
    {
      "name": "Twilio - Respuesta Pendiente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        480
      ],
      "parameters": {
        "options": {},
        "url": "https://api.twilio.com/2010-04-01/Accounts/TWILIO_ACCOUNT_SID_PLACEHOLDER/Messages.json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "To",
              "value": "={{ $('Extraer JSON Receta').first().json.fromNumber || 'whatsapp:' + $('Extraer JSON Receta').first().json.phone }}"
            },
            {
              "name": "From",
              "value": "={{ $('Extraer JSON Receta').first().json.toNumber }}"
            },
            {
              "name": "Body",
              "value": "=Hola {{ $('Extraer JSON Receta').first().json.profileName }}! Recibimos tu solicitud de receta. El medico la va a revisar y te avisamos cuando este lista."
            }
          ]
        },
        "method": "POST",
        "authentication": "genericCredentialType",
        "sendBody": true,
        "genericAuthType": "httpBasicAuth"
      },
      "id": "f809acea-fef7-4eda-b3d6-836419b54445",
      "credentials": {
        "httpBasicAuth": {
          "id": "cWihp3akRY6cYwIM",
          "name": "Consultorio - Twilio Basic Auth"
        }
      }
    },
    {
      "name": "Log a PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        2000,
        300
      ],
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO workflow_logs (workflow_id, workflow_name, execution_id, nivel, mensaje) VALUES ($1, 'Recetas', $2, 'info', $3);",
        "additionalFields": {
          "queryParams": "={{ ['workflow-06', $json.executionId || '', 'Receta procesada para ' + $('Extraer JSON Receta').first().json.phone + ': ' + ($('Extraer JSON Receta').first().json.es_renovacion ? 'renovacion' : 'nueva') + ' - ' + ($('Extraer JSON Receta').first().json.medicamento || 'sin especificar')] }}"
        },
        "options": {}
      },
      "id": "d7e2d176-847e-4cff-b527-c0b87d91efb2",
      "credentials": {
        "postgres": {
          "id": "LndsAFMcQsVltuyi",
          "name": "Consultorio - PostgreSQL"
        }
      }
    }
  ],
  "connections": {
    "Webhook - Solicitud Receta": {
      "main": [
        [
          {
            "node": "Extraer Datos Solicitud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Datos Solicitud": {
      "main": [
        [
          {
            "node": "Ollama - Analizar Solicitud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama - Analizar Solicitud": {
      "main": [
        [
          {
            "node": "Extraer JSON Receta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer JSON Receta": {
      "main": [
        [
          {
            "node": "Es Renovacion?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es Renovacion?": {
      "main": [
        [
          {
            "node": "PG - Buscar Receta Activa",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notificar al Medico x Receta Nueva",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG - Buscar Receta Activa": {
      "main": [
        [
          {
            "node": "PG - Crear Receta Renovacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG - Crear Receta Renovacion": {
      "main": [
        [
          {
            "node": "Twilio - Confirmar Renovacion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio - Confirmar Renovacion": {
      "main": [
        [
          {
            "node": "Log a PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar al Medico x Receta Nueva": {
      "main": [
        [
          {
            "node": "Twilio - Respuesta Pendiente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio - Respuesta Pendiente": {
      "main": [
        [
          {
            "node": "Log a PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": true,
  "versionId": "f8711743-e073-43e9-bc48-31391cbcee05"
}