n8n-workflows/current/workflow-01-export.json
{
  "name": "01 - WhatsApp Inbound + Triaje IA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "consultorio-inbound",
        "options": {}
      },
      "name": "Webhook - Twilio WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        304
      ],
      "webhookId": "b9e6ab70-db5d-4ad3-b52e-50460c2025c9",
      "id": "6c50c483-bde2-4138-8276-80bee4fe008c"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.body.Body }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty",
                "name": "filter.operator.isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Validar Mensaje",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        256,
        304
      ],
      "id": "f45fc35e-2355-4097-9659-0d98453c27f0"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "phone",
              "value": "={{ $json.body.From.replace('whatsapp:', '') }}",
              "type": "string"
            },
            {
              "name": "message",
              "value": "={{ $json.body.Body }}",
              "type": "string"
            },
            {
              "name": "profileName",
              "value": "={{ $json.body.ProfileName || 'Paciente' }}",
              "type": "string"
            },
            {
              "name": "twilioSid",
              "value": "={{ $json.body.SmsSid }}",
              "type": "string"
            },
            {
              "name": "toNumber",
              "value": "={{ $json.body.To }}",
              "type": "string"
            },
            {
              "name": "fromNumber",
              "value": "={{ $json.body.From }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Extraer Datos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        304
      ],
      "id": "a051e40d-7aa6-41bc-8f82-61ede9131fd4"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO pacientes (telefono, nombre, apellido, fuente, consentimiento_whatsapp) VALUES ($1, $2, '', 'whatsapp', TRUE) ON CONFLICT (telefono) DO UPDATE SET updated_at = NOW() RETURNING id, telefono, nombre, apellido, email, tags, canal_preferido;",
        "options": {}
      },
      "name": "Obtener o Crear Paciente",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        768,
        304
      ],
      "id": "16cc9f48-a489-40f6-ad46-e9c42a192374",
      "credentials": {
        "postgres": {
          "id": "LndsAFMcQsVltuyi",
          "name": "Consultorio - PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ 'SELECT t.id, t.fecha, t.hora_inicio, t.hora_fin, t.motivo, t.estado, m.nombre AS medico_nombre, m.especialidad FROM turnos t JOIN medicos m ON t.medico_id = m.id WHERE t.paciente_id = ' + $(\"Obtener o Crear Paciente\").first().json.id + ' AND t.fecha >= CURRENT_DATE ORDER BY t.fecha, t.hora_inicio LIMIT 5' }}",
        "options": {}
      },
      "name": "Consultar Turnos del Paciente",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1024,
        304
      ],
      "id": "90878f2a-2ecf-4301-8786-dbfb394140c8",
      "credentials": {
        "postgres": {
          "id": "LndsAFMcQsVltuyi",
          "name": "Consultorio - PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ 'SELECT r.id, r.medicamento, r.dosis, r.indicaciones, r.fecha_emision, r.fecha_vencimiento, r.estado FROM recetas r WHERE r.paciente_id = ' + $(\"Obtener o Crear Paciente\").first().json.id + ' ORDER BY r.fecha_emision DESC LIMIT 10' }}",
        "options": {}
      },
      "name": "Consultar Recetas Activas",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1280,
        304
      ],
      "id": "a43b86f9-a3e7-4951-a6a7-aaf4b7ab402d",
      "credentials": {
        "postgres": {
          "id": "LndsAFMcQsVltuyi",
          "name": "Consultorio - PostgreSQL"
        }
      }
    },
    {
      "parameters": {},
      "name": "Construir Contexto Paciente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1536,
        304
      ],
      "id": "a5dd5658-5939-4927-aa42-0e96f2842c17"
    },
    {
      "parameters": {
        "model": "mistral",
        "options": {
          "temperature": 0.3
        }
      },
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1808,
        80
      ],
      "id": "e702d643-5200-4c2d-9163-c0dd19f45370",
      "credentials": {
        "ollamaApi": {
          "id": "0yOB7HJzYtVXceLp",
          "name": "Ollama - Consultorio Medico"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        1824,
        304
      ],
      "id": "d51f7ed9-b335-4fcb-978a-6ff4341c933f"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "agentOutput",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Extraer Output del Agente",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2384,
        304
      ],
      "id": "73cf9f80-8381-4ff4-a251-58be074bd9a1"
    },
    {
      "parameters": {},
      "name": "Parsear y Preparar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2608,
        304
      ],
      "id": "0fea1e78-2ad3-4d5d-806a-66620f5fda51"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twilio.com/2010-04-01/Accounts/TWILIO_ACCOUNT_SID_PLACEHOLDER/Messages.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "From",
              "value": "={{ $json.toNumber }}"
            },
            {
              "name": "To",
              "value": "={{ $json.fromNumber }}"
            },
            {
              "name": "Body",
              "value": "={{ $json.responseText }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "name": "Twilio - Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2864,
        304
      ],
      "id": "a1799298-422a-4e39-929b-42bad17dc9cb",
      "credentials": {
        "httpBasicAuth": {
          "id": "cWihp3akRY6cYwIM",
          "name": "Consultorio - Twilio Basic Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ $json.tieneAccion }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Hay Accion?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3104,
        304
      ],
      "id": "b51ee8a3-5f86-4929-a360-8b6b4f1b2aed"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.sqlAccion }}",
        "options": {}
      },
      "name": "Registrar Accion Pendiente",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3360,
        112
      ],
      "id": "25920fb0-9a17-4d7e-bc0d-89881f68109d",
      "credentials": {
        "postgres": {
          "id": "LndsAFMcQsVltuyi",
          "name": "Consultorio - PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.sqlGuardar }}",
        "options": {}
      },
      "name": "Guardar Conversacion en DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3360,
        352
      ],
      "id": "ec27e244-1431-46d1-92a2-88c0dc917dfc",
      "credentials": {
        "postgres": {
          "id": "LndsAFMcQsVltuyi",
          "name": "Consultorio - PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.sqlLog }}",
        "options": {}
      },
      "name": "Log a PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        3360,
        560
      ],
      "id": "99bcdeeb-2244-4f4e-8c25-b382c9b12225",
      "credentials": {
        "postgres": {
          "id": "LndsAFMcQsVltuyi",
          "name": "Consultorio - PostgreSQL"
        }
      }
    }
  ],
  "connections": {
    "Webhook - Twilio WhatsApp": {
      "main": [
        [
          {
            "node": "Validar Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validar Mensaje": {
      "main": [
        [
          {
            "node": "Extraer Datos",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Extraer Datos": {
      "main": [
        [
          {
            "node": "Obtener o Crear Paciente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener o Crear Paciente": {
      "main": [
        [
          {
            "node": "Consultar Turnos del Paciente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Turnos del Paciente": {
      "main": [
        [
          {
            "node": "Consultar Recetas Activas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar Recetas Activas": {
      "main": [
        [
          {
            "node": "Construir Contexto Paciente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir Contexto Paciente": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Extraer Output del Agente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Output del Agente": {
      "main": [
        [
          {
            "node": "Parsear y Preparar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear y Preparar": {
      "main": [
        [
          {
            "node": "Twilio - Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio - Enviar WhatsApp": {
      "main": [
        [
          {
            "node": "Hay Accion?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hay Accion?": {
      "main": [
        [
          {
            "node": "Registrar Accion Pendiente",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guardar Conversacion en DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar Accion Pendiente": {
      "main": [
        [
          {
            "node": "Guardar Conversacion en DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar Conversacion en DB": {
      "main": [
        [
          {
            "node": "Log a PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "active": true,
  "versionId": "13275d4f-4849-4b62-9aca-537b6f2d7c69"
}